
<div class="container-fluid" ng-controller="chhostnamectr">
	<div class="row">
		<div class="col-md-10">
			<div rc-wizard="kvmchhostnameWizard" class="modal-body">
				<section id="wizard">
					<div id="rootwizard">
						<ul class="nav rc-nav-wizard" style="margin-left: 200px">
							<li class="active"><a class="active" href="#tab1"
								data-toggle="tab"> <span class="badge">1</span>&nbsp;COM Info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</a></li>
							<li><a href="#tab2" data-toggle="tab"> <span
									class="badge">2</span>&nbsp;Change Hostname&nbsp;&nbsp;
							</a></li>
						</ul>
						<div class="modal-body col-md-12">
							<div class="tab-content">
								<form class="tab-pane active ng-pristine ng-valid" id="tab1" name="tab1" rc-submit="initoldhostname()" rc-step>
									<div class="panel panel-default">
										<div class="panel-heading">
											<label class="control-label" translate="COM_INSTANCE">COM Instance</label> <select
												ng-change="initconfig()" name="com_instance"
												ng-model="com_instance" class="form-control"
												ng-options="inst.name for inst in comInstance"
												title="COM Instance" validation="required">
												<option value="" default translate="PLEASE_SELECT">--Please Select--</option>
											</select>
										</div>
									</div>
								</form>
								<form class="tab-pane ng-pristine ng-valid" id="tab2" name="tab2" rc-submit="" rc-step>
									<fieldset ng-if="installConfig.comType == 'FCAPS'||installConfig.comType == 'CM'||installConfig.comType == 'OAM'">
										<legend>OAM VM</legend>
										<div>
											<div class="form-group col-md-5">
												<label class="control-label">New Hostname</label> <input
												name="oam_hostname" class="form-control" type="text"
												ng-model="installConfig.vm_config.oam.hostname" validation="pattern=/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/:alt=host name not qualified for FQDN|required" />
									        </div>
										</div>
									</fieldset>
									<fieldset ng-if="installConfig.comType == 'FCAPS'||installConfig.comType == 'CM'">
										<legend>CM VM</legend>
										<div>
											<div class="form-group col-md-5">
												<label class="control-label">New Hostname</label> <input
												name="cm_hostname" class="form-control" type="text"
												ng-model="installConfig.vm_config.cm.hostname" validation="pattern=/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/:alt=host name not qualified for FQDN|required" />
									        </div>
										</div>
									</fieldset>
									<fieldset ng-if="installConfig.comType == 'FCAPS'||installConfig.comType == 'CM'||installConfig.comType == 'OAM'">
										<legend>DB VM</legend>
										<div>
											<div class="form-group col-md-5">
												<label class="control-label">New Hostname</label> <input
												name="db_hostname" class="form-control" type="text" 
												ng-model="installConfig.vm_config.db.hostname" validation="pattern=/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/:alt=host name not qualified for FQDN|required" />
									        </div>
										</div>
									</fieldset>
									<fieldset ng-if="installConfig.comType == 'QOSAC'">
										<legend>OVM VM</legend>
										<div>
											<div class="form-group col-md-5">
												<label class="control-label">New Hostname</label> <input
												name="db_hostname" class="form-control" type="text" 
												ng-model="installConfig.vm_config.ovm.hostname" validation="pattern=/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/:alt=host name not qualified for FQDN|required" />
									        </div>
										</div>
									</fieldset>
								</form>
								
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<div class="pull-right">
									<a class="btn btn-default"
										ng-click="rc.kvmchhostnameWizard.backward()"
										ng-show="rc.kvmchhostnameWizard.currentIndex > rc.kvmchhostnameWizard.firstIndex" translate="">Back</a>
									<a class="btn btn-primary"
										ng-click="rc.kvmchhostnameWizard.forward()"
										ng-show="rc.kvmchhostnameWizard.currentIndex < rc.kvmchhostnameWizard.navigationLength" translate="">Continue</a>
									<a class="btn btn-primary" ng-click="changehostname()"
										ng-show="rc.kvmchhostnameWizard.currentIndex == rc.kvmchhostnameWizard.navigationLength" translate="">Change</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			</div>
	</div>
</div>