<div class="container-fluid" ng-controller="osctr">
	<div class="row">
		<div class="col-md-12">
			<div rc-wizard="OSInstallWizard" class="modal-body">
				<section id="wizard" import-comconf>
					<div id="rootwizard">
							<ul class="nav rc-nav-wizard" style="margin-left:100px;">
								<li class="active"><a class="active" href="#tab1"
									data-toggle="tab">
									<span class="badge">1</span> <span translate="COM_TYPE">COM Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</a></li>
								<li><a href="#tab2" data-toggle="tab"> <span
										class="badge">2</span> <span translate="HEAT_STACK">Heat stack&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</a></li>
								<li><a href="#tab3" data-toggle="tab"> <span
										class="badge">3</span> <span translate="NETWORK_CONFIG">Network Config</span>
								</a></li>
								<li><a href="#tab4" data-toggle="tab"> <span
										class="badge">4</span> <span translate="VNFC_CONFIG">VNFc Config&nbsp;</span>
								</a></li>
								<li><a href="#tab5" data-toggle="tab"> <span
									class="badge">5</span> <span>Set Password&nbsp;</span>
							    </a></li>
								<li><a href="#tab6" data-toggle="tab"> <span
										class="badge">6</span> <span translate="INSTALL_OPTION">Install Options&nbsp;</span>
								</a></li>
								<li><a href="#tab7" data-toggle="tab"> <span
										class="badge">7</span> <span translate="DEPLOY">Deploy</span>
								</a></li>
							</ul>
							<div class="modal-body">
								<div class="tab-content">
											<form class="tab-pane active ng-pristine ng-valid" id="tab1" name="tab1"  rc-step="" >
												<div class="form-group">
													<label class="control-label" translate="VNFC_TYPE">VNFC Type</label> <select
														name="comType" ng-model="installConfig.comType" 
														class="form-control" ng-options="ct.Name as ct.Name for ct in comTypeStore"
														title="COM Type" validation="required">
													</select>
												</div>
												<div class="form-group">
													<label class="control-label" translate="TIMEZONE">Timezone</label> <select
														name="time_zone" ng-model="installConfig.timezone"
														class="form-control"
														ng-options="t.id as t.label for t in timezoneStore"
														title="Timezone" validation="required">
													</select>
												</div>
											</form>
											<form class="tab-pane" id="tab2" name="tab2" rc-submit rc-step>
													<fieldset >
														<legend translate="HEAT">Heat</legend>
														<div class="form-group col-md-4">
															<label class="control-label" translate="HEAT_VERSION">Heat Version</label>
															 <select name="heat_version" ng-model="installConfig.template_version" class="form-control" ng-options="hv.version as hv.name for hv in heat_version" title="Heat Version" validation="required"> </select>
														</div>
														<div class="form-group col-md-4">
															<label class="control-label" translate="PREFIX_OF_STACK_RESOURCE">Prefix of Stack Resource</label>
															 <input name="stack_resource" class="form-control" type="text" ng-model="installConfig.deployment_prefix" title="Prefix of stack resource" validation="required|alpha_num|max_len:14">
														</div>
														<div class="form-group col-md-4">
															<label class="control-label" translate="STACK_NAME">Stack Name</label>
															<input name="stack_name" class="form-control" type="text" ng-model="installConfig.stack_name" title="Stack Name" validation="required|alpha_num|max_len:14" unique-stack>
															<span class="validation text-danger" ng-show="tab2.stack_name.$error.notunique"><label translate="EXISTED_STACK_NAME">Existed Stack Name!</label></span>
														</div>
													</fieldset>
													<fieldset >
														<legend translate="AVAILABLE_ZONE">Available Zone</legend>
														<div class="form-group col-md-6">
															<label class="control-label" translate="COMPUTE_AVAIL_ZONE">Compute Avail Zone</label> 
															<select name="compute_avail_zone" ng-model="installConfig.compute_avail_zone.zoneA" class="form-control" ng-options="caz.zoneName as caz.zoneName for caz in computeAvailZoneStore" title="Compute Avail Zone" validation="required"> </select>
														</div>
														<div class="form-group col-md-6">
															<label class="control-label" translate="BLOCK_STORAGE_AVAIL_ZONE">Block Storage Avail Zone</label> 
															<select name="block_storage_avail_zone" ng-model="installConfig.block_storage_avail_zone.zoneA" class="form-control" ng-options="zone.zoneName as zone.zoneName for zone in blockAvailZoneStore" title="Block Storage Avail Zone" validation="required"> </select>
														</div>
													</fieldset>
													<fieldset>
														<legend translate="IMAGE">Image</legend>
														<div class="form-group col-md-6" ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
															<label class="control-label" translate="OAM_CM_IMAGE">OAM/CM image</label> 
															<select name="oamcm_image"  form="tab2" mutuexclude="db_image" ng-model="installConfig.oam_cm_image" class="form-control" ng-options="o.name as o.name for o in oam_cm_images" title="OAM/CM image" validation="required"> </select>
															<span class="validation text-danger" ng-show="tab2.oamcm_image.$error.samefieldvalue">same image</span>
														</div>
														<div class="form-group col-md-6" ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
															<label class="control-label" translate="DB_IMAGE">DB image</label> 
															<select name="db_image" form="tab2" mutuexclude="oamcm_image" ng-model="installConfig.db_image" class="form-control" ng-options="d.name as d.name for d in db_images" title="DB image" validation="required"> </select>
															<span class="validation text-danger" ng-show="tab2.db_image.$error.samefieldvalue">same image</span>
														</div>
													</fieldset>
													<fieldset >
														<legend translate="SECURITY">Security</legend>
														<div class="form-group col-md-6">
															<label class="control-label" translate="KEY_PAIR">Key Pair</label> 
															<select name="key_name" ng-model="installConfig.key_name" class="form-control" ng-options="key  for key in keys" title="Key Pair" validation="required"> </select>
														</div>
														<div class="form-group col-md-1">
															<input type="text" ng-hide="true" ng-model="installConfig.vm_config.oam.hide" ng-init="installConfig.vm_config.oam.hide='hide'">
														</div>
														<div class="form-group col-md-1">
															<input type="text" ng-hide="true" ng-model="installConfig.vm_config.cm.hide" ng-init="installConfig.vm_config.cm.hide='hide'">
														</div>
														<div class="form-group col-md-1">
															<input type="text" ng-hide="true" ng-model="installConfig.vm_config.db.hide" ng-init="installConfig.vm_config.db.hide='hide'">
														</div>
													</fieldset>
											</form>
											<form class="tab-pane" id="tab3" name="tab3" rc-submit="initHostName()" rc-step>
												<div class="form-group">
													<label class="control-label" translate="NETWORK">Network</label> <select
														name="network"
														ng-model="installConfig.com_provider_network.network"
														class="form-control"
														ng-options="n.id as n.name for n in networkStore"
														title="Network" validation="required">
													</select>
												</div>
												<div class="form-group">
													<label class="control-label" translate="IPV4_SUB_NETWORK">IPv4 Sub Network</label> <select
														name="sub_network" 
														ng-model="installConfig.com_provider_network.subnet"
														class="form-control"
														ng-options="sn.id as sn.name for sn in v4subnets"
														title="Sub Network" validation="required">
													</select>
												</div>
												<div class="form-group">
													<label class="control-label" translate="IPV6_SUB_NETWORK">IPv6 Sub Network</label> <select
														name="v6_sub_network" 
														ng-model="installConfig.com_provider_network.v6_subnet"
														class="form-control"
														ng-options="sn.id as sn.name for sn in v6subnets"
														title="Sub Network" >
													</select>
												</div>
												</fieldset>
											</form>
											<form class="tab-pane" id="tab4" name="tab4" rc-submit rc-step>
												<div class="form-group">
													<fieldset
														ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
														<legend translate="OAM_VM">OAM VM</legend>
														<div class="form-group col-md-3">
															<label class="control-label" translate="IPV4_ADDRESS">IPv4 Address</label> <input
																name="oam_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.oam.provider_ip_address"
																title="IP Address" validation="ipv4|required" />
														</div>
														<div ng-if="installConfig.com_provider_network.v6_subnet" class="form-group col-md-3">
															<label class="control-label" translate="IPV6_ADDRESS">IPv6 Address</label> <input
																name="oam_v6_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.oam.provider_v6_ip_address"
																title="IP Address"  />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="DISK">Disk(GB)</label> <input
																name="oam_disk" class="form-control" type="text"
																ng-model="installConfig.vm_config.oam.com_data_vol_size"
																title="Disk(GB)" validation="int|required" />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="FLAVOR">Flavor</label> <select
																name="oam_flavor"
																ng-model="installConfig.vm_config.oam.flavor"
																class="form-control"
																ng-options="fl.name as fl.name for fl in flavorStore"
																title="Flavor" validation="required">
															</select>
														</div>
													</fieldset>
													<fieldset
														ng-if="installConfig.comType=='FCAPS' ||  installConfig.comType=='CM'">
														<legend translate="CM_VM">CM VM</legend>
														<div class="form-group col-md-3">
															<label class="control-label" translate="IPV4_ADDRESS">IPv4 Address</label> <input
																name="cm_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.cm.provider_ip_address"
																title="IP Address" validation="ipv4|required" />
														</div>
														<div ng-if= "installConfig.com_provider_network.v6_subnet" class="form-group col-md-3">
															<label class="control-label" translate="IPV6_ADDRESS">IPv6 Address</label> <input
																name="cm_v6_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.cm.provider_v6_ip_address"
																title="IP Address"  />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="DISK">Disk(GB)</label> <input
																name="cm_disk" class="form-control" type="text"
																ng-model="installConfig.vm_config.cm.com_data_vol_size"
																title="Disk(GB)" validation="int|required" />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="FLAVOR">Flavor</label> <select
																name="cm_flavor"
																ng-model="installConfig.vm_config.cm.flavor"
																class="form-control"
																ng-options="fl.name as fl.name for fl in flavorStore"
																title="Flavor" validation="required">
															</select>
														</div>
													</fieldset>
													<fieldset
														ng-if="installConfig.comType=='FCAPS' ||  installConfig.comType=='CM' || installConfig.comType=='OAM'">
														<legend translate="DB_VM">DB VM</legend>
														<div class="form-group col-md-3">
															<label class="control-label" translate="IPV4_ADDRESS">IPv4 Address</label> <input
																name="db_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.db.provider_ip_address"
																title="IP Address" validation="ipv4|required" />
														</div>
														<div ng-if= "installConfig.com_provider_network.v6_subnet"  class="form-group col-md-3">
															<label class="control-label" translate="IPV6_ADDRESS">IPv6 Address</label> <input
																name="db_v6_ip_address" class="form-control" type="text"
																ng-model="installConfig.vm_config.db.provider_v6_ip_address"
																title="IP Address" />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="DISK">Disk(GB)</label> <input
																name="db_disk" class="form-control" type="text"
																ng-model="installConfig.vm_config.db.com_data_vol_size"
																title="Disk(GB)" validation="int|required" />
														</div>
														<div class="form-group col-md-3">
															<label class="control-label" translate="FLAVOR">Flavor</label> <select
																name="db_flavor"
																ng-model="installConfig.vm_config.db.flavor"
																class="form-control"
																ng-options="fl.name as fl.name for fl in flavorStore"
																title="Flavor" validation="required">
															</select>
														</div>
													</fieldset>
													<fieldset>
										<legend>Host Name</legend>
										<div ng-if="installConfig.comType=='OAM'">
											<div class="form-group col-md-3">
												<label class="control-label">OAM</label> <input
												name="oam_hostname" class="form-control" type="text" ng-change="changeHostName()"
												ng-model="installConfig.vm_config.oam.hostname" validation="required"/>
									        </div>
									        <div class="form-group col-md-3">
												<label class="control-label">DB</label> <input
												name="db_hostname" class="form-control" type="text" ng-change="changeHostName()"
												ng-model="installConfig.vm_config.db.hostname" validation="required"/>
									        </div>
										</div>
										<div ng-if="installConfig.comType=='FCAPS'||installConfig.comType=='CM'">
											<div class="form-group col-md-3">
												<label class="control-label">OAM</label> <input
												name="oam_hostname" class="form-control" type="text" ng-change="changeHostName()"
												ng-model="installConfig.vm_config.oam.hostname" validation="required"/>
									        </div>
									        <div class="form-group col-md-3">
												<label class="control-label">CM</label> <input
												name="cm_hostname" class="form-control" type="text" ng-change="changeHostName()"
												ng-model="installConfig.vm_config.cm.hostname" validation="required"/>
									        </div>
									        <div class="form-group col-md-3">
												<label class="control-label">DB</label> <input
												name="db_hostname" class="form-control" type="text" ng-change="changeHostName()"
												ng-model="installConfig.vm_config.db.hostname" validation="required"/>
									        </div>
										</div>
									</fieldset>
												</div>
											</form>
											<form class="tab-pane" id="tab5" name="tab5" rc-submit="Backup_Server_Addr()" rc-step>
												<div ng-include="'views/common/password.html'"></div>
											</form>
											<form class="tab-pane" id="tab6" name="tab6" rc-submit="genExport()" rc-step>
												<div ng-include="'views/common/common.html'"></div>
											</form>
											<form class="tab-pane" id="tab7" name="tab7" rc-submit rc-step>
									<div class="panel panel-default">
										<div class="panel-heading">
											<label class="control-label" translate="DEPLOYMENT_SUMMERY">Deployment Summary</label>
										</div>
										<div class="panel-body" >
											<div class="dataTable_wrapper">
												<table
													class="table table-striped table-bordered table-hover"
													id="dataTables-example">
													<tbody>
														<tr align="center">
															<td colspan="2" translate="COM_TYPE">COM Type</td>
															<td>{{installConfig.comType}}</td>
														</tr>
														<tr align="center">
															<td colspan="2" translate="STACK_NAME">Stack Name</td>
															<td>{{installConfig.stack_name}}</td>
														</tr>
														<tr align="center">
															<td colspan="2" translate="COMPUTE_AVAIL_ZONE">Compute Avail Zone</td>
															<td>{{installConfig.compute_avail_zone.zoneA}}</td>
														</tr>
														<tr align="center">
															<td colspan="2" translate="BLOCK_STORAGE_AVAIL_ZONE">Block Storage Avail Zone</td>
															<td>{{installConfig.block_storage_avail_zone.zoneA}}</td>
														</tr>
														
														<tr align="center">
															<td colspan="2" translate="DEPLOYMENT_PREFIX">Deployment Prefix</td>
															<td>{{installConfig.deployment_prefix}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
															<td rowspan="3" width="25%" align="center"
																style="vertical-align: middle" translate="OAM_VM">OAM VM</td>
															<td width="35%" translate="IPV4_ADDRESS">IPv4 Address</td>
															<td>{{installConfig.vm_config.oam.provider_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
															<td translate="IPV6_ADDRESS">IPv6 Address</td>
															<td>{{installConfig.vm_config.oam.provider_v6_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
															<td translate="FLAVOR">Flavor</td>
															<td>{{installConfig.vm_config.oam.flavor}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
															<td rowspan="3" width="25%" align="center"
																style="vertical-align: middle" translate="DB_VM">DB VM</td>
															<td width="35%" translate="IPV4_ADDRESS">IPv4 Address</td>
															<td>{{installConfig.vm_config.db.provider_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
															<td translate="IPV6_ADDRESS">IPv6 Address</td>
															<td>{{installConfig.vm_config.db.provider_v6_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
															<td translate="FLAVOR">Flavor</td>
															<td>{{installConfig.vm_config.db.flavor}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='CM'">
															<td rowspan="3" width="25%" align="center"
																style="vertical-align: middle" translate="CM_VM">CM VM</td>
															<td width="35%" translate="IPV4_ADDRESS">IPv4 Address</td>
															<td>{{installConfig.vm_config.cm.provider_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='CM'">
															<td translate="IPV6_ADDRESS">IPv6 Address</td>
															<td>{{installConfig.vm_config.cm.provider_v6_ip_address}}</td>
														</tr>
														<tr align="center"
															ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='CM'">
															<td translate="FLAVOR">Flavor</td>
															<td>{{installConfig.vm_config.cm.flavor}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

											</form>
								</div>
								<div class="modal-footer">
									<div class="form-group">
										<div id="download" class="pull-left" ng-show="rc.OSInstallWizard.currentIndex == rc.OSInstallWizard.navigationLength">
								    	<div export-comconf ng-model="export"></div>
								    </div>
										<div class="pull-right">
											<a class="btn btn-default" 
												ng-click="rc.OSInstallWizard.backward()"
												ng-show="rc.OSInstallWizard.currentIndex > rc.OSInstallWizard.firstIndex" translate="BACK">Back</a>
											<a class="btn btn-primary" 
												ng-click="rc.OSInstallWizard.forward()" ng-disabled="disMatch"
												ng-show="rc.OSInstallWizard.currentIndex < rc.OSInstallWizard.navigationLength" translate="CONTINUE">Continue</a>
											<a class="btn btn-primary" ng-click="deploy()"
												ng-show="rc.OSInstallWizard.currentIndex == rc.OSInstallWizard.navigationLength" translate="DEPLOY">Deploy</a>
										</div>
									</div>
								</div>
							</div>
						</div>
				</section>
			</div>
		</div>
	</div>
</div>
