<div class="form-group">
	<label class="control-label">Backup Server Disk Space</label> <input
		name="BACKUP_SERVER_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.BACKUP_SERVER_DISK_SPACE='20000'"
		ng-model="installConfig.app_install_options.BACKUP_SERVER_DISK_SPACE"
		title="Backup Server Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">Call Trace Disk Space</label> <input
		name="CALL_TRACE_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.CALL_TRACE_DISK_SPACE='1000'" 
		ng-model="installConfig.app_install_options.CALL_TRACE_DISK_SPACE"
		title="Call Trace Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">Code Server Disk Space</label> <input
		name="CODE_SERVER_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.CODE_SERVER_DISK_SPACE='20000'" 
		ng-model="installConfig.app_install_options.CODE_SERVER_DISK_SPACE"
		title="Code Server Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">OMCCN Support Webss0 SANE</label> <select
		name="OMCCN_SUPPORT_WEBSSO_SANE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.OMCCN_SUPPORT_WEBSSO_SANE='false'" 
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_WEBSSO_SANE"
		title="OMCCN Support Webss0 SANE" validation="required">
		<option>NO</option>
		<option>YES</option>
		</select>
</div>
<div class="form-group">
	<label class="control-label">NTP Server</label> <input
		name="NTP_SERVER" class="form-control" type="text" 
		ng-init="installConfig.app_install_options.NTP_SERVER='135.251.111.73'"
		ng-model="installConfig.app_install_options.NTP_SERVER"
		title="NTP Server" validation="ipv4|required" />
</div>
<div class="form-group">
	<label class="control-label">Sec Unix Enable</label> <select
		name="SEC_UNIX_ENABLE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.SEC_UNIX_ENABLE='No'" 
		ng-model="installConfig.app_install_options.SEC_UNIX_ENABLE"
		title="Sec Unix Enable" validation="required">
		<option>NO</option>
		<option>YES</option>
		</select>
</div>