<div class="form-group">
	<label class="control-label">Backup Server Disk Space</label> <input
		name="BACKUP_SERVER_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.BACKUP_SERVER_DISK_SPACE='20000'"
		ng-model="installConfig.app_install_options.BACKUP_SERVER_DISK_SPACE"
		title="Backup Server Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">Call Trace Disk Space</label> <input
		name="CALL_TRACE_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.CALL_TRACE_DISK_SPACE='1000'" 
		ng-model="installConfig.app_install_options.CALL_TRACE_DISK_SPACE"
		title="Call Trace Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">Code Server Disk Space</label> <input
		name="CODE_SERVER_DISK_SPACE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.CODE_SERVER_DISK_SPACE='20000'" 
		ng-model="installConfig.app_install_options.CODE_SERVER_DISK_SPACE"
		title="Code Server Disk Space" validation="required" />
</div>
<div class="form-group">
	<label class="control-label">OMCCN Support Webss0 SANE</label> <select
		name="OMCCN_SUPPORT_WEBSSO_SANE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.OMCCN_SUPPORT_WEBSSO_SANE='false'" 
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_WEBSSO_SANE"
		title="OMCCN Support Webss0 SANE" validation="required">
		<option>false</option>
		<option>true</option>
		</select>
</div>
<div class="form-group">
	<label class="control-label">NTP Server</label> <input
		name="NTP_SERVER" class="form-control" type="text" 
		ng-init="installConfig.app_install_options.NTP_SERVER='135.251.111.73'"
		ng-model="installConfig.app_install_options.NTP_SERVER"
		title="NTP Server" validation="ipv4|required" />
</div>
<div class="form-group">
	<label class="control-label">Sec Unix Enable</label> <select
		name="SEC_UNIX_ENABLE" class="form-control" type="text"
		ng-init="installConfig.app_install_options.SEC_UNIX_ENABLE='NO'" 
		ng-model="installConfig.app_install_options.SEC_UNIX_ENABLE"
		title="Sec Unix Enable" validation="required">
		<option>NO</option>
		<option>YES</option>
		</select>
</div>
<div class="form-group">
    <label class="control-label">OMCCN SUPPORT COM GR</label> <select
        name="OMCCN_SUPPORT_COM_GR" class="form-control" type="text"
        ng-init="installConfig.app_install_options.OMCCN_SUPPORT_COM_GR='false'" 
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_COM_GR"
        title="OMCCN SUPPORT COM GR" validation="required">
        <option>false</option>
        <option>true</option>
        </select>
</div>
<div class="form-group">
    <label class="control-label">BACKUP SERVER IS LOCAL</label> <select
        name="BACKUP_SERVER_IS_LOCAL" class="form-control" type="text"
        ng-init="installConfig.app_install_options.BACKUP_SERVER_IS_LOCAL='YES'" 
        ng-model="installConfig.app_install_options.BACKUP_SERVER_IS_LOCAL"
        title="BACKUP SERVER IS LOCAL" validation="required">
        <option>YES</option>
        <option>NO</option>
        </select>
</div>
<div class="form-group">
    <label class="control-label">SOFTWARE SERVER IS LOCAL</label> <select
        name="SOFTWARE_SERVER_IS_LOCAL" class="form-control" type="text"
        ng-init="installConfig.app_install_options.SOFTWARE_SERVER_IS_LOCAL='YES'" 
        ng-model="installConfig.app_install_options.SOFTWARE_SERVER_IS_LOCAL"
        title="SOFTWARE SERVER IS LOCAL" validation="required">
        <option>YES</option>
        <option>NO</option>
        </select>
</div>
<div class="form-group">
    <label class="control-label">SOFTWARE SERVER ADDRESS</label> <input
        name="SOFTWARE_SERVER_ADDRESS" class="form-control" type="text"
        ng-init="installConfig.app_install_options.SOFTWARE_SERVER_ADDRESS=''" 
        ng-model="installConfig.app_install_options.SOFTWARE_SERVER_ADDRESS"
        title="SOFTWARE SERVER ADDRESS" validation="required" />
</div>
<div class="form-group">
    <label class="control-label">BACKUP SERVER ADDRESS</label> <input
        name="BACKUP_SERVER_ADDRESS" class="form-control" type="text"
        ng-init="installConfig.app_install_options.BACKUP_SERVER_ADDRESS=''" 
        ng-model="installConfig.app_install_options.BACKUP_SERVER_ADDRESS"
        title="BACKUP SERVER ADDRESS" validation="required" />
</div>