<div>
    <div class="modal-header">
        <h3 class="modal-title"><strong>{{selectedIns.deployment_prefix}}</strong> details:</h3>
    </div>
    <div class="modal-body">
	    <div class="panel-body">
			<div class="dataTable_wrapper">
				<table
					class="table table-striped table-bordered table-hover"
					id="dataTables-example">
					<tbody>
						<tr align="center" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM' || selectedIns.comType=='QoSAC'">
					<td colspan="4" translate="COM_TYPE">COM Type</td>
					<td colspan="2">{{selectedIns.comType}}</td>
				</tr>
				<tr align="center" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM' || selectedIns.comType=='QoSAC'">
					<td colspan="4" translate="HOST_IP">Host IP</td>
					<td colspan="2">{{selectedIns.active_host_ip}}</td>
				</tr>
				<tr align="center" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM' || selectedIns.comType=='QoSAC'">
					<td colspan="4" translate="PREFIX_OF_VM_INS">Prefix of VM Instance</td>
					<td colspan="2">{{selectedIns.deployment_prefix}}</td>
				</tr>
				<tr align="center" ng-if="selectedIns.actionResult!=null && (selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM')">
					<td colspan="4" translate="OPERATION_STATUS">Status</td>
					<td colspan="2" translate="{{selectedIns.actionResult}}"></td>
				</tr>
				<tr align="center" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM' ">
					<td colspan="4" translate="GR_STATUS">GR Status</td>
					<td colspan="2" translate="{{selectComstack.status}}"></td>
				</tr>
				<tr align="center" ng-if="selectComstack.role && selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
					<td colspan="4" translate="GR_ROLE">GR Role</td>
					<td colspan="2" >{{selectComstack.role}}</td>
				</tr>
				<tr align="center" ng-if="selectComstack.mate && selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
					<td colspan="4" translate="GR_MATE">GR Mate</td>
					<td colspan="2">{{selectComstack.mate}}</label></td>
				</tr>
						<tr align="center" ng-repeat-start="VM in selectedIns.vm_config" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
															<td rowspan="{{VM.nic.length*2+3}}" width="15%" align="center" style="vertical-align: middle">{{VM.hostname}}</td>
														</tr>
														<tr align="center" ng-repeat-start="NIC in VM.nic" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
															<td rowspan="2" width="15%" align="center" style="vertical-align: middle">{{NIC.name}}</td>
															<td rowspan="2" width="15%" align="center" style="vertical-align: middle" translate="BRIDGE">Bridge</td>
															<td rowspan="2" align="center" style="vertical-align: middle">{{NIC.bridge}}</td>
															<td width="10%" translate="IPV4">IPv4</td>
															<td>ip:{{NIC.ip_v4.ipaddress}}/{{NIC.ip_v4.prefix}} gateway:{{NIC.ip_v4.gateway}}</td>
														</tr>
														<tr align="center" ng-repeat-end ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
															<td width="10%" translate="IPV6">IPv6</td>
															<td>ip:{{NIC.ip_v6.ipaddress}}/{{NIC.ip_v6.prefix}} gateway:{{NIC.ip_v6.gateway}}</td>
														</tr>
														<tr align="center" ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
															<td translate="FLAVOR" colspan="3">Flavor</td>
															<td colspan="2">vCPU:{{VM.flavor.vCpu}}&nbsp;&nbsp;Memory:{{VM.flavor.memory/1024/1024}}GB&nbsp;&nbsp;Disk:{{VM.flavor.disk}}GB</td>
														</tr>
														<tr align="center" ng-repeat-end ng-if="selectedIns.comType=='FCAPS' || selectedIns.comType=='OAM' || selectedIns.comType=='CM'">
															<td colspan="3">Image</td>
															<td colspan="2">{{VM.imgname}}</td>
														</tr>
						
						
						
					<tr align="center" ng-if="selectedIns.comType=='QOSAC' || selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS'">
						<td colspan="2" translate="COM_TYPE">COM Type</td>
						<td>{{selectedIns.comType}}</td>
					</tr>
					<tr align="center" ng-if="selectedIns.comType=='QOSAC' || selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS'">
						<td colspan="2">Host IP</td>
						<td>{{selectedIns.active_host_ip}}</td>
					</tr>
					<tr align="center" ng-if="selectedIns.comType=='QOSAC' || selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS'">
						<td colspan="2">Prefix of VM Instance</td>
						<td>{{selectedIns.deployment_prefix}}</td>
					</tr>
					<tr align="center" ng-if="selectedIns.actionResult!=null && (selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS' || selectedIns.comType=='QOSAC')">
						<td colspan="2" translate="OPERATION_STATUS">Status</td>
						<td translate="{{selectedIns.actionResult}}"></td>
					</tr>
					<tr align="center" ng-if="selectedIns.actionResult==null && (selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS' || selectedIns.comType=='QOSAC')">
						<td colspan="2" translate="OPERATION_STATUS">Operation Status</td>
						<td>UNKNOWN</td>
					</tr>
					<tr align="center" ng-if="selectedIns.comType=='QOSAC' || selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS'">
						<td rowspan="2" width="25%" align="center" style="vertical-align: middle">OVM</td>
						<td width="35%">IP Address</td>
						<td>{{selectedIns.vm_config.ovm.ip_address}}</td>
					</tr>
					<tr align="center" ng-if="selectedIns.comType=='QOSAC' || selectedIns.comType=='ATC' || selectedIns.comType=='HPSIM' || selectedIns.comType=='ARS'">
						<td>Flavor</td>
						<td>vCPU:{{selectedIns.vm_config.ovm.flavor.vCpu}}&nbsp;&nbsp;Memory:{{selectedIns.vm_config.ovm.flavor.memory/1024/1024}}GB&nbsp;&nbsp;Disk:{{selectedIns.vm_config.ovm.flavor.disk}}GB</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">OK</button>
    </div>

</div>