<div>
        <div class="modal-header">
            <h3 class="modal-title">Select NFV type</h3>
        </div>
        <div class="modal-body">
									<div class="form-group">
										<label class="control-label">NFV Type</label> <select
											name="com_type" ng-model="NFV"
											class="form-control" ng-options=" nfv for nfv in NFVTypes"
											title="NFV Type" >
										</select>
									</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>

</div>