<form class="tab-pane active ng-pristine ng-valid" name="password" rc-submit="" rc-step="" novalidate="">
<div class="tab-content">
<div style="padding-left: 190px;">
<Strong>Root Password</Strong>
<div style="padding-left: 10px;">
	<label>Enter a new password:</label> <input name="root_password"
		ng-model="installConfig.root_password" type="password" id="rootPass"
		validation="required">
</div>
<br>
<div style="padding-left: 70px;">
	<label>Type it again:</label> <input name="re_root_password"
		type="password" ng-model="installConfig.re_root_password"
		validation="required">
<span ng-model="match" class="validation text-danger" ng-show="installConfig.root_password!=installConfig.re_root_password&&installConfig.re_root_password!=null">Password not match</span>	
</div>
<div style="padding-left: 10px;width: 400px;">
<label>Password Strength:</label>
<label ng-if="passStrength1<=50&&passStrength1!=0" style="color:red">Weak</label>
<label ng-if="passStrength1>50&&passStrength1<=82" style="color:orange">Middle</label>
<label ng-if="passStrength1>82" style="color:green">Strong</label>
<div ng-password-strength="installConfig.root_password" strength="passStrength1" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
</div>
<br>

<Strong>Axadmin Password</Strong>
<div style="padding-left: 10px;">
	<label>Enter a new password:</label> <input name="axadmin_password"
		ng-model="installConfig.axadmin_password" type="password" id="axadminPass"
		validation="required">
</div>
<br>
<div style="padding-left: 70px;">
	<label>Type it again:</label> <input name="re_axadmin_password"
		type="password" ng-model="installConfig.re_axadmin_password"
		validation="required">
<span class="validation text-danger" ng-show="installConfig.axadmin_password!=installConfig.re_axadmin_password&&installConfig.re_axadmin_password!=null">Password not match</span>
</div>
<div style="padding-left: 10px;width: 400px;">
<label>Password Strength:</label>
<label ng-if="passStrength2<=50&&passStrength2!=0" style="color:red">Weak</label>
<label ng-if="passStrength2>50&&passStrength2<=82" style="color:orange">Middle</label>
<label ng-if="passStrength2>82" style="color:green">Strong</label>
<div ng-password-strength="installConfig.axadmin_password" strength="passStrength2" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
</div>
</div>
</div>
</form>