<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="OMCCN_SUPPORT_WEBSSO_SANE">OMCCN Support Websso SANE</label> <select
		name="OMCCN_SUPPORT_WEBSSO_SANE" class="form-control" type="text"
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_WEBSSO_SANE"
		title="OMCCN Support Websso SANE" validation="required">
		<option value="false" translate="FALSE">false</option>
		<option value="true" translate="TRUE">true</option>
		</select>
</div>
<div class="form-group">
	<label class="control-label" translate="NTP_SERVER">NTP Server</label> <input
		name="NTP_SERVER" class="form-control" type="text" 
        ng-model="installConfig.app_install_options.NTP_SERVER"
		title="NTP Server"  validation="required" />
</div>
<div class="form-group">
	<label class="control-label" translate="SEC_UNIX_ENABLE">Sec Unix Enable</label> <select
		name="SEC_UNIX_ENABLE" class="form-control" type="text"
		ng-model="installConfig.app_install_options.SEC_UNIX_ENABLE"
		title="Sec Unix Enable" validation="required">
		<option value="NO" translate="NO">No</option>
		<option value="YES" translate="YES">Yes</option>
		</select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
    <label class="control-label" translate="OMCCN_SUPPORT_COM_GR">Support COM GR</label> <select
        name="OMCCN_SUPPORT_COM_GR " class="form-control" type="text"
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_COM_GR"
        title="OMCCN SUPPORT COM GR" validation="required">
        <option value="false" translate="FALSE">false</option>
        <option value="true" translate="TRUE">true</option>
        </select>
</div>
<div class="form-group"  ng-if="installConfig.comType=='OAM' || installConfig.comType =='CM'">
    <label class="control-label" translate="OMCCN_SUPPORT_SP_FM">Support Alarm Resynchronization</label> <select
        name="OMCCN_SUPPORT_SP_FM " class="form-control" type="text"
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_SP_FM"
        title="OMCCN Support SP FM" validation="required">
        <option value="NO" translate="NO">No</option>
		<option value="YES" translate="YES">Yes</option>
        </select>
</div>
<div class="form-group" ng-if="installConfig.comType=='OAM' || installConfig.comType =='CM'" >
    <label class="control-label" translate="OMCCN_SUPPORT_SP_PM">Support Performance Management</label> <select
        name="OMCCN_SUPPORT_SP_PM " class="form-control" type="text"
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_SP_PM"
        title="OMCCN Support SP PM" validation="required">
        <option value="NO" translate="NO">No</option>
		<option value="YES" translate="YES">Yes</option>
        </select>
</div>
<div class="form-group" ng-if="installConfig.comType=='CM'">
    <label class="control-label" translate="OMCCN_SUPPORT_SP_HVP">Support High Speed Provisioning</label> <select
        name="OMCCN_SUPPORT_SP_HVP " class="form-control" type="text"
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_SP_HVP"
        title="OMCCN Support SP HVP" validation="required">
        <option value="NO" translate="NO">No</option>
		<option value="YES" translate="YES">Yes</option>
        </select>
</div>
<div class="form-group" ng-if="installConfig.comType=='OAM'">
    <label class="control-label">Support Provisioning</label> <select
        name="OMCCN_SUPPORT_SP_LVP " class="form-control" type="text"
        ng-model="installConfig.app_install_options.OMCCN_SUPPORT_SP_LVP"
        title="OMCCN Support SP LVP" validation="required">
        <option value="NO" translate="NO">No</option>
		<option value="YES" translate="YES">Yes</option>
        </select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="OMCCN_SUPPORT_3GPP">Support 3GPP Corba Interface for Alarm</label> <select
		name="OMCCN_SUPPORT_3GPP" class="form-control" type="text"
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_3GPP"
		title="OMCCN SUPPORT 3GPP" validation="required">
		<option value="true" translate="true">true</option>
		<option value="false" translate="false">false</option>
		</select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="OMCCN_SUPPORT_SNMP_N_ITF">Support SNMP Northbound Interface</label> <select
		name="OMCCN_SUPPORT_SNMP_N_ITF" class="form-control" type="text"
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_SNMP_N_ITF"
		title="OMCCN SUPPORT SNMP N ITF" validation="required">
		<option value="true" translate="true">true</option>
		<option value="false" translate="false">false</option>
		</select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="OMCCN_SUPPORT_GSST">Support GSST NE</label> <select
		name="OMCCN_SUPPORT_GSST" class="form-control" type="text"
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_GSST"
		title="OMCCN_SUPPORT_GSST" validation="required">
		<option value="true" translate="true">true</option>
		<option value="false" translate="false">false</option>
		</select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="OMCCN_SUPPORT_NETRA">Support NETRA Management</label> <select
		name="OMCCN_SUPPORT_NETRA" class="form-control" type="text"
		ng-model="installConfig.app_install_options.OMCCN_SUPPORT_NETRA"
		title="OMCCN SUPPORT NETRA" validation="required">
		<option value="true" translate="true">true</option>
		<option value="false" translate="false">false</option>
		</select>
</div>
<div class="form-group" ng-if="installConfig.comType!='QOSAC'">
	<label class="control-label" translate="INSTALL_ETHEREAL">Install Ethereal</label> <select
		name="INSTALL_ETHEREAL" class="form-control" type="text"
		ng-model="installConfig.app_install_options.INSTALL_ETHEREAL"
		title=""INSTALL ETHEREAL"" validation="required">
		<option value="YES" translate="YES">Yes</option>
        <option value="NO" translate="NO">No</option>
		</select>
</div>