<div class="ui-grid-cell-contents">
  <div class="btn-group btn-action" dropdown dropdown-append-to-body>
    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
      &nbsp;Action&nbsp; <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
    	<li><a href="" ng-click="grid.appScope.details(row)"><i class="glyphicon glyphicon-align-justify" style="color:darkturquoise;"></i>&nbsp;Details</a></li>
      	<li ng-hide="row.entity.comType=='ATC'||row.entity.comType=='HPSIM'"><a href="" ng-click="grid.appScope.goupgraqde(row)"><i class="glyphicon glyphicon-arrow-up" style="background-color:gold;"></i>&nbsp;Upgrade</a></li>
      	<li ng-hide="row.entity.comType=='ATC'||row.entity.comType=='HPSIM'"><a href="" ng-click="grid.appScope.gobackup(row)"><i class="glyphicon glyphicon-floppy-save" style="color:green;"></i>&nbsp;Data Backup</a></li>
      	<li ng-hide="row.entity.comType=='ATC'||row.entity.comType=='HPSIM'"><a href="" ng-click="grid.appScope.gorestore(row)"><i class="glyphicon glyphicon-floppy-open" style="color:purple;"></i>&nbsp;Data Restore</a></li>
     	<li ng-hide="row.entity.comType=='QOSAC'||row.entity.comType=='ATC'||row.entity.comType=='HPSIM'||row.entity.comConfig.environment=='OPENSTACK'"><a href="" ng-click="grid.appScope.fullbackup(row)"><i class="glyphicon glyphicon-cloud-upload" style="color:pink;"></i>&nbsp;Full Backup</a></li>
      	<li ng-hide="row.entity.comType=='QOSAC'||row.entity.comType=='ATC'||row.entity.comType=='HPSIM'||row.entity.comConfig.environment=='OPENSTACK'"><a href="" ng-click="grid.appScope.fullrestore(row)"><i class="glyphicon glyphicon-cloud-download" style="color:grey;"></i>&nbsp;Full Restore</a></li>
     	<li><a href="" ng-click="grid.appScope.operationlog(row)"><i class="glyphicon glyphicon-calendar" style="color:black;"></i>&nbsp;Ansible Log</a></li>
   <!-- <li ng-hide="row.entity.comType=='ATC'||row.entity.comType=='HPSIM'"><a href="" ng-click="grid.appScope.gochhostname(row)"><i class="glyphicon glyphicon-edit" style="color:grey;"></i>&nbsp;Change Hostname</a></li>  -->
      	<li><a href="" ng-click="grid.appScope.godelete(row)"><i class="glyphicon glyphicon-remove" style="color:red;"></i>&nbsp;Delete COM</a></li>
  </ul>
  </div>
</div>