<div class="container-fluid" ng-controller="ovmctr">
	<div class="row">
		<div class="col-md-10">
			<div class="modal-body">
			    <legend>Common Variables</legend>
				<div class="form-group">
					<label class="control-label">Host IP</label> <select name="host_ip"
						ng-model="installConfig.active_host_ip" class="form-control"
						ng-options="host.ip_address as host.name for host in hostIPs"
						title="Host IP" validation="required">
						<option value="">--Please Select--</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">VM Image directory</label> <input
						name="vm_img_dir" class="form-control" type="text"
						ng-model="installConfig.vm_img_dir"
						placeholder="Please Insert VM Image directory"
						title="VM Image directory" validation="required" />
				</div>
				<div class="form-group">
					<label class="control-label">Deployment Prefix</label> <input
						name="deployment_prefix" class="form-control" type="text"
						ng-model="installConfig.deployment_prefix"
						placeholder="Please Insert Deployment Prefix"
						title="VM Image directory" validation="required" />
				</div>
				<div class="form-group">
					<label class="control-label">ATC switches</label> <input
						name="atc_switches" class="form-control" type="text"
						ng-model="installConfig.atc_switches" title="ATC switches" />
				</div>
                <legend>NETWORK</legend>
				<fieldset>
					<div class="form-group col-md-6">
						<label class="control-label">Hostname</label> <input name="hostname"
							class="form-control" type="text" ng-model="installConfig.vm_config.ovm.hostname"
							placeholder="Please Insert Hostname" title="Hostname"
							validation="required" />
					</div>
					<div class="form-group col-md-6">
						<label class="control-label">IP Address</label> <input name="ip_address"
							class="form-control" type="text" ng-model="installConfig.vm_config.ovm.ip_address""
							placeholder="Please Insert IP Address" title="IP Address"
							validation="ipv4|required" />
					</div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Netmask</label> <input name="netmask"
                            class="form-control" type="text" ng-model="installConfig.vm_config.ovm.netmask"
                            placeholder="Please Insert Netmask" title="netmask"
                            validation="ipv4|required" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Gateway</label> <input name="gateway"
                            class="form-control" type="text" ng-model="installConfig.vm_config.ovm.gateway"
                            placeholder="Please Insert Gateway" title="gateway"
                            validation="gateway|required" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">IPv6 Address</label> <input name="ipv6_address"
                            class="form-control" type="text" ng-model="installConfig.vm_config.ovm.ipv6_address""
                            placeholder="Please Insert IP Address" title="IPv6 Address"
                            validation="ipv6" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">IPv6 Gateway</label> <input name="ipv6_gateway"
                            class="form-control" type="text" ng-model="installConfig.vm_config.ovm.ipv6_gateway"
                            title="IPv6 Gateway" validation="gateway" />
                    </div>
					<div class="form-group col-md-6">
						<label class="control-label">Flavor</label> <select
							name="ovm_flavor" ng-model="installConfig.vm_config.ovm.flavor"
							class="form-control" flavorinit
							ng-options="fl.label for fl in flavorStore.OVM.ovm"
							title="Flavor" validation="required">
							<option value="">--Please Select--</option>
						</select>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<div id="download" class="pull-left">
						<div export-comconf ng-model="export"></div>
					</div>
					<div class="pull-right">
						<a class="btn btn-primary" ng-click="deploy()" >Deploy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>