<style type="text/css">

<!-- 
dd{
 text-indent: 1em; /*em是相对单位，2em即现在一个字大小的两倍*/
}
-->
</style>
<div>
	<div class="modal-header">
		<h4 class="modal-title">Auto Operation Notification</h4>
	</div>
	<div align="left" class="modal-body">
		<div>
			<dl>
			    <dt>NE Name</dt>
			    <dd>{{info.neName}}</dd>
			    <dt>Operation</dt>
			    <dd>{{info.action}}</dd>
		    </dl>
	    </div>
	    <div align="right">
		    <button type="button" class="btn btn-info" ng-click="openAutoOperation()">View the Auto Operation</button>
	    </div>
	</div>
</div>