<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div align="center" class="modal-body">

		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon" style="width: 100px;">CSAR Name:</span>
   			<input type="text" disabled class="form-control" ng-model="neName" id="neName" value="{{neName}}">
		</div>
		<br />
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon" style="width: 100px;">Vendor:</span>
  			<input type="text" disabled class="form-control" ng-model="vendor" id="vendor" value="{{vendor}}">
		</div>
		<br />
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon" style="width: 100px;">NE Type:</span>
  	        <input type="text" disabled class="form-control" ng-model="neType" id="neType" value="{{neType}}">
		</div>
		<br />
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon" style="width: 100px;">NE Release:</span>
  			<input type="text" disabled class="form-control" ng-model="neRelease" id="neRelease" value="{{neRelease}}" >
		</div>
		<br />
		<div>
			<button type="button" ng-click="okDelete()" class="btn  btn-xs btn-info" style="width: 100px; height: 30px;">OK</button>
			<button type="button" ng-click="cancelDelete()" class="btn  btn-xs btn-info" style="width: 100px; height: 30px;">Cancel</button>
		</div>
</div>