<div class="modal-header">
	<h3 class="modal-title">Grow NE</h3>
</div>
<div align="center" class="modal-body">

	<form class="form-signin" name="growForm" role="form" novalidate ng-submit="startGrow(vnf)">
	
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">VNF Name:</span>
  			<input type="text" disabled class="form-control" name="vnfName" value="{{vnf.vnfName}}">
		</div>
		<br>
		
		<div style="width: 80%" class="input-group col-lg-6">
			<span class="input-group-addon">NE Operation:</span>
      		<select class="form-control" id="operation" required>
         		<option value="install">Install</option>
         		<option value="grow">Grow</option>
         		<option value="degrow">De-Grow</option>
      		</select>
   		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">Friendly Name:</span>
  			<input type="text" class="form-control" name="friendlyName" ng-pattern="regExp" required ng-model="lunch.friendlyName" placeholder="Friendly Name" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">Auth URL:</span>
  			<input type="url" class="form-control" name="authURL" required ng-model="lunch.authURL" placeholder="Auth URL" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Username:</span>
  			<input type="text" class="form-control" name="osUsername" required ng-model="lunch.osUsername" placeholder="OS Username" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Password:</span>
  			<input type="password" class="form-control" name="osPassword" required ng-model="lunch.osPassword" placeholder="OS Password" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Tennat:</span>
  			<input type="text" class="form-control" name="osTennat" required ng-model="lunch.osTennat" placeholder="OS Tennat" />
		</div>
		<br>
		<alert ng-show="false" type="danger">{{description}}</alert>
		<div align="right" style="width: 90%" class="input-group col-lg-6">
			<button class="btn btn-primary" type="submit">Launch</button>
		</div>
	</form>
</div>