<div class="modal-header">
	<h3 class="modal-title">{{title}}</h3>
</div>
<div align="center" class="modal-body">

	<alert ng-show="launchForm.friendlyName.$error.pattern && launchForm.submitted" type="danger">Invalid charactor was found in Friendly Name.</alert>
	<alert ng-show="launchForm.friendlyName.$error.required && launchForm.submitted" type="danger">Friendly Name can not be empty.</alert>
	<alert ng-show="launchForm.authURL.$error.url && launchForm.submitted" type="danger">The input Auth URL is not a valid URL.</alert>
	<alert ng-show="launchForm.authURL.$error.required && launchForm.submitted" type="danger">The Auth URL can not be empty.</alert>
	<alert ng-show="launchForm.osUsername.$error.required && launchForm.submitted" type="danger">The OS UserName can not be empty.</alert>
	<alert ng-show="launchForm.osPassword.$error.required && launchForm.submitted" type="danger">The OS Password can not be empty.</alert>
	<alert ng-show="launchForm.osTennat.$error.required && launchForm.submitted" type="danger">The OS Tennat can not be empty.</alert>
	<alert ng-show="isShowError" type="danger">{{description}}.</alert>
	<form class="form-signin" name="launchForm" role="form" ng-submit="startLaunch(vnf)">
	
		<div style="width: 80%" class="input-group col-lg-6" ng-show="{{showCsarName}}">
  			<span class="input-group-addon">CSAR Name:</span>
   			<input type="text" disabled class="form-control" name="neName" value="{{neName}}">
		</div>
		<br>
		
		<div style="width: 80%" class="input-group col-lg-6">
			<span class="input-group-addon">NE Operation:</span>
 			<select class="form-control" id="operation" required ng-disabled="{{disableDropdown}}">
         		<option value="install" ng-selected = "{{action | isInstall}}">Install</option>
         		<option value="grow" ng-selected = "{{action | isGrow}}">Grow</option>
         		<option value="degrow" ng-selected = "{{action | isDegrow}}">Degrow</option>
         		<option value="terminate" ng-selected = "{{action | isTerminate}}">Terminate</option>
      		</select>
   		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">Friendly Name:</span>
  			<input type="text" ng-pattern="/^[\w]*$/" class="form-control" name="friendlyName" required ng-model="vnf.friendlyName" placeholder="Friendly Name" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">Auth URL:</span>
  			<input type="url" class="form-control" name="authURL" required ng-model="vnf.authURL" placeholder="Auth URL" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Username:</span>
  			<input type="text" class="form-control" name="osUsername" required ng-model="vnf.osUsername" placeholder="OS Username" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Password:</span>
  			<input type="password" class="form-control" name="osPassword" required ng-model="vnf.osPassword" placeholder="OS Password" />
		</div>
		<br>
		<div style="width: 80%" class="input-group col-lg-6">
  			<span class="input-group-addon">OS Tennat:</span>
  			<input type="text" class="form-control" name="osTennat" required ng-model="vnf.osTennat" placeholder="OS Tennat" />
		</div>
		<hr>
		<div align="right" style="width: 90%" class="input-group col-lg-6">		
			<button class="btn btn-primary" type="submit">Launch</button>
		</div>
	</form>
</div>
