<link type="text/css" rel="stylesheet" href="css/login.css" />

<div class="login-body" >
	<div class="login-image">
		<div>
			<select class="login-language" ng-model="language" ng-options="lan.label for lan in languages" ng-change="changeLanguage()">
				<option value="" ng-if="!language"></option>
			</select>
		</div>
		<div class="login-server">
		   {{'SERVER' | translate}}: {{_server.name}}
			COM ELCM 
		</div>
		<div class="login-release">
		    <!--{/{'RELEASE' | translate}}: {{_server.release}/}-->
			1360 COM Deploy Tool
		</div>
	</div>
	
	<form ng-submit="login()" name="loginForm" class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required">
	<div class="login-form">
		<div class="form-group">
			<label class="sr-only" for="userName">User Name</label>
 			<div class="col-sm-10">
 			  <div class="input-group">
 			    <div class="input-group-addon">
 			      <span class="glyphicon glyphicon-user"></span>
 			    </div>
				<input type="text" name="username" placeholder="{{'USERNAME' | translate}}{{demoUser}}" ng-model="_user.username" required autofocus class="form-control login-input-user ng-pristine ng-invalid ng-invalid-required">
 			  </div>
			</div>
			<!-- 
			<div class="col-sm-2" style="margin-top: 10px" ng-show="displayUser">testuser1</div>
			 -->
		</div>
		
		<div class="form-group">
			<label class="sr-only" for="password">Password</label>
			<div class="col-sm-10">
 			  <div class="input-group">
 			    <div class="input-group-addon">
 			      <span class="glyphicon glyphicon-lock"></span>
 			    </div>
				<input type="password" name="password" placeholder="{{'PASSWORD' | translate}}{{demoPassword}}" ng-model="_user.password" required class="form-control login-input-password ng-pristine ng-invalid ng-invalid-required">
			  </div>
			</div>
			<!-- 
			<div class="col-sm-2" style="margin-top: 10px" ng-show="displayUser">COM_cc_n1</div>
			 -->
		</div>
		
		<div class="form-group">
			<div class="col-sm-10">
				<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary login-btn">{{'LOGIN' | translate}}</button>
				<div class="checkbox login-checkbox" style="width:50px;">
					<label for="rememberme" class="checkbox login-checkbox-label" ng-click="toggleRememberMe($event)">
						<input type="checkbox" ng-model="_user.rememberme" class="ng-prstine ng-valid">{{'REMEM_TEXT' | translate}}
					</label>
				</div>
			</div>
		</div>
		
		<div class="col-sm-10 login-failure">
				<span ng-show="_user.reason">{{_user.reason}}</span>
		</div>
	</div>
	</form>
	
	<div class="login-banner">{{'LOGIN_WARN' | translate}}</div>
	<div class="login-copyright">{{'COPYRIGHT' | translate}}</div>
</div>
