

<div class="modal-body">
	<!--  <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
          {{EnvItemVar}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="EnvItem in EnvItems">
            <a ng-click="selectENVItem(EnvItem)">{{ EnvItem.Name }}</a>
          </li>
        </ul>
      </div> -->
	<div class="form-group">
		<label class="control-label">Environment</label> <select name="comType"
			ng-model="selected.EnvItem" class="form-control"
			ng-options="EnvItem as EnvItem.Name for EnvItem in EnvItems"
			title="COM Type" validation="required">
			<option value="">--Environment--</option>
		</select>
	</div>

	<!-- <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="EnvItemVar == 'Environment'">
          {{VNFitemVar}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li >
            <a ng-click="selectVNFItem(VNFitem)">{{ VNFitem.Name }}</a>
          </li>
          <li class="divider"></li>
          <li ng-if="EnvItemVar=='KVM'" ng-repeat="OVNFitem in OVNFitems">
            <a ng-click="selectVNFItem(OVNFitem)">{{ OVNFitem.Name }}</a>
          </li>
        </ul>
	</div>-->
	<div class="form-group">
		<label class="control-label">VNF Type</label> <select name="Environment"
			ng-model="selected.VNFItem" class="form-control"
			ng-options="VNFItem as VNFItem.Name for VNFItem in VNFItems.concat(OVNFItems)"
			title="VNF Type" validation="required">
			<option value="">--VNF Type--</option>
		</select>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
