    <div class="modal-header">
            <h3 class="modal-title">Please select install environment and VNF Type</h3>
    </div>

    <div class="modal-body">
      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
          {{EnvItemVar}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="EnvItem in EnvItems">
            <a ng-click="selectENVItem(EnvItem)">{{ EnvItem.Name }}</a>
          </li>
        </ul>
      </div>

      <div class="btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="EnvItemVar == 'Environment'">
          {{VNFitemVar}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="VNFitem in VNFitems">
            <a ng-click="selectVNFItem(VNFitem)">{{ VNFitem.Name }}</a>
          </li>
          <li class="divider"></li>
          <li ng-if="EnvItemVar=='KVM'" ng-repeat="OVNFitem in OVNFitems">
            <a ng-click="selectVNFItem(OVNFitem)">{{ OVNFitem.Name }}</a>
          </li>
        </ul>
      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
