<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.datatable"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
           <li ng-class="{active:collapseVar==1}">
                <a href="" ng-click="openInstallSelect()"><i class="fa fa-files-o fa-fw"></i>Installation</a>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="dashboard.backup"><i class="fa fa-edit fa-fw"></i><label translate="BACKUP">Backup</label></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.restore"><i class="fa fa-edit fa-fw"></i><label translate="RESTORE">Restore</label></a>
            </li>
            <li ng-class="{active:collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-files-o fa-fw"></i><label translate="GR">GR</label><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ng-class="{active: selectedMenu=='kvminstall'}">
                        <a ui-sref="dashboard.grinstall" ng-click="selectedMenu='grinstall'"><label translate="INSTALL">Install</label></a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.gruninstall"><label translate="UNINSTALL">Uninstall</label></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active:collapseVar==2}">
                <a href="" ng-click="openUpInstallSelect()"><i class="fa fa-files-o fa-fw"></i>Upgrade</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.oscredential"><i class="fa fa-edit fa-fw"></i><label translate="OPENSTACK_CREDENTIAL">Openstack Credential</label></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->

</div> 

