<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i><label  translate="DASHBOARD">Dashboard</label></a>
            </li>
           <li ng-class="{active:collapseVar==1}">
                <a href="" ng-click="check(1)" ><i class="fa fa-files-o fa-fw"></i><label translate="INSTALLATION">Installation</label><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ng-class="{active: selectedMenu=='kvminstall'}">
                        <a ui-sref="dashboard.kvminstall" ng-click="selectedMenu='kvminstall'"><label translate="KVM">KVM</label></a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.osinstall"><label translate="OPENSTACK">Openstack</label></a>
                    </li>
                </ul>
            </li>
            
            <li ui-sref-active="active">
                <a ui-sref="dashboard.backup"><i class="fa fa-edit fa-fw"></i><label translate="BACKUP">Backup</label></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.restore"><i class="fa fa-edit fa-fw"></i><label translate="RESTORE">Restore</label></a>
            </li>
            <li ng-class="{active:collapseVar==3}">
                <a href="" ng-click="check(3)"><i class="fa fa-files-o fa-fw"></i><label translate="GR">GR</label><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li ng-class="{active: selectedMenu=='kvminstall'}">
                        <a ui-sref="dashboard.grinstall" ng-click="selectedMenu='grinstall'"><label translate="INSTALL">Install</label></a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.gruninstall"><label translate="UNINSTALL">Uninstall</label></a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active:collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-files-o fa-fw"></i><label translate="UPGRADE">Upgrade</label><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li ng-class="{active: selectedMenu=='kvminstall'}">
                        <a ui-sref="dashboard.kvmupgrade" ng-click="selectedMenu='kvminstall'"><label translate="KVM">KVM</label></a>
                    </li>
                    <li>
                        <a ui-sref="dashboard.osupgrade"><label translate="OPENSTACK">Openstack</label></a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.form"><i class="fa fa-edit fa-fw"></i><label translate="SCALING">Scaling</label></a>
            </li>  
            <li ui-sref-active="active">
                <a ui-sref="dashboard.oscredential"><i class="fa fa-edit fa-fw"></i><label translate="OPENSTACK_CREDENTIAL">Openstack Credential</label></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



