	<!-- Tab panes -->
	<div class="tab-content" ng-controller="VmAppController">
		<div class="tab-pane fade in active" id="vmapp">
			<!-- /.row -->
			<div class="row">
    			<div class="col-md-12">
       				 <h2><small>VM App  <font size="3" color="blue">(NE Type:{{neType}}  NE Release:{{neRelease}}) </font> </small></h2>
    			</div>
   				 <!-- /.col-lg-12 -->
			</div>
			<div class="row">
				<div class="col-lg-12">
				<div class="panel panel-default">
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive" >
							<table class="table table-bordered table-striped" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" 
                           		   dt-column-defs="dtColumnDefs">
								<thead>
									<tr>
										<th ng-repeat="item in menus">{{item}}</th>
									</tr>
								</thead>
								<tbody>
									<tr class="odd gradeX" ng-repeat="instance in instances">
										<td>{{instance.vnfName}}</td>
										<td>{{instance.vmName}}</td>
										<td>{{instance.vnfcIdentifier}}</td>
										<td>{{instance.app}}</td>
										<td>
										    <div ng-repeat="addr in instance.ipv4">{{addr}}</div>
										</td>
										<td>{{instance.ipv6}}</td>
										<td>{{instance.status}}</td>
										<td>{{instance.createTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
										<td>{{instance.updateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
					</div>
				</div>
				<!-- /.col-lg-12 -->
			</div>
		</div>
	</div>
