
	<div >
		<div class="row">
			<div class="col-md-12">
				<wizard on-finish="finished()">
					<wz-step ng-repeat="step in ansibleSteps" title="{{ step }}">
				</wizard>
			</div>
		</div>
		<section class="panel-body">
			<tabset ng-init="showAllTasks = false"> 
			  <tab heading="Ansible Task">
					<div class="row">
					   <div class="col-md-4">
					   </div>
						<div class="col-md-6 " ng-show="!showAllTasks">
							<div id="task"></div>
						</div>
						<div class="col-md-6 " ng-show="showAllTasks">
							<div id="tasks" class="tasksheight"></div>
						</div>
						<div class="col-md-2">
							<label>Detail Task</label> <i class="fa" ng-class="{ 'fa-chevron-circle-down': !showAllTasks, 'fa-chevron-circle-up': showAllTasks }"
								ng-click="showAllTasks = !showAllTasks "></i>
						</div>
					</div>
					<div class="row" ng-show="issucceed" >
					   <div class="col-md-4">
					   </div>
						<div class="col-md-5 ">
						<div class="alert alert-success">
						    <a href="javascirpt:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         	<strong>Success!</strong> {{result_message}}
						</div>
						</div>
					</div>
					<div class="row" ng-show="isfailed" >
					<div class="col-md-4">
					</div>
					<div class="col-md-5">
					<div  class="alert alert-warning"  ng-show="isfailed" >
					    <a href="javascirpt:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                         <strong>Failed!</strong> {{result_message}}
					</div>
					</div>
					</div>
					<div class="row" ng-show="loadingshow">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
						  <img src="images/spinner.gif"/>
						</div>
					</div>
			  </tab> 
			  <tab heading="Detail Logs">
					<div class="row">
						<div class="col-md-12" style="height: 400px; padding-top: 5px;">
							<pre id="logviewer" style="height: 350px; background-color: white; overflow: auto"></pre>
						</div>
					</div>
			  </tab> 
			 </tabset>
		</section>
	</div>