<div class= "row">
<div class="col-md-12" ng-controller="operationlogctr">
	<div class="col-md-2" style="padding-top: 40px;">
		<div>
			<label style="color:#777">VNF Name:{{selectedVNFName}}</label>
		</div>
		<div class="u_nav">
			<ul style="padding-left: 0px;">
				<li ng-repeat="ol in operationlog"><div class="status_success" >success</div><div class="status_fail" ng-if="">fail</div>
				<a href="" ng-click="showlog(ol)">
				<p translate="{{ol.action}}"></p>
				<p>{{ol.date}}</p>
				</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-10">
  <tabset>
    <tab  heading="{{tabs[0].title}}" active="tabs[0].active" disable="tabs[0].disabled">
      <div class="col-md-12">
		  <pre style="height: 450px; background-color: white; overflow: auto">{{logview}}</pre>
	  </div>
    </tab>
    <tab  heading="{{tabs[1].title}}"  disable="tabs[1].disabled">
      <div class="col-md-12">
		  <pre style="height: 450px; background-color: white; overflow: auto">{{allview}}</pre>
	  </div>
    </tab>
    <tab  heading="{{tabs[2].title}}"  disable="tabs[2].disabled">
      <div class="col-md-12">
		  <pre style="height: 450px; background-color: white; overflow: auto">{{hostsview}}</pre>
	  </div>
    </tab>
  </tabset>
	</div>
</div>
</div>