<div class="panel-body">

	<!-- Tab panes -->
	<div class="tab-content" ng-controller="PortController">
		<div class="tab-pane fade in active" id="network">
			<!-- /.row -->
			<div class="row">
    			<div class="col-md-12">
    				<h2><small>Port Detail: {{portObj.name | isEmpty}}</small></h2>
    				<dl>
					    <dt>Name</dt>
					    <dd>{{portObj.name | isEmpty}}</dd>
					    <dt>ID</dt>
					    <dd>{{portObj.id}}</dd>
					    <dt>Network ID</dt>
					    <dd>{{portObj.networkId}}</dd>
					    <dt>Fixed IPs</dt>
					    <dd ng-repeat="ip in portObj.fixed_ips">IP: {{ip.ip_address}} - Subnet ID: {{ip.subnet_id}}</dd>
					    <dt>MAC Address</dt>
					    <dd>{{portObj.mac_address}}</dd>
					    <dt>Status</dt>
					    <dd>{{portObj.status}}</dd>
					    <dt>Admin State</dt>
					    <dd>{{portObj.admin_state_up | isAdminUp}}</dd>
					    <dt>Attached Device</dt>
					    <dd>Device Owner: {{portObj.device_owner}}</dd>
					    <dd>Device ID: {{portObj.device_id}}</dd>
					</dl>
    			</div>
   				 <!-- /.col-lg-12 -->
			</div>
			</div>
		</div>
	</div>
</div>
