
<div class="modal-header">
	<label><strong>{{vm}} VM</strong> Config</label>
</div>
<div class="modal-body">
	<div class="form-group">
		<div class="col-md-5">
			<label class="control-label" id="basic-addon1">Bridge</label>
			<input name="oam_bridge" class="form-control" type="text"
				ng-model="nic.bridge" validation="required"/>
		</div>
	</div>
	<br/><br/><br/>
	<legend style="font-size: 16px;">IPv4</legend>
	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label">Network Prefix</label>
			<input name="oam_ipv4_prefix" class="form-control" type="text"
				ng-model="nic.ipv4.prefix" validation="required" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label">IP Address</label> <input
				name="oam_ipv4_address" class="form-control" type="text"
				ng-model="nic.ipv4.ipaddress" validation="ipv4|required" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<label class="control-label">Network
				Gateway</label> <input name="oam_ipv4_gateway" class="form-control"
				type="text" ng-model="nic.ipv4.gateway" validation="required"/>
		</div>
	</div>
	<br/><br/><br/><br/><br/>
	<accordion close-others="oneAtATime">
	<accordion-group is-open="status.open">
        <accordion-heading>
            IPv6(Optional) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div class="row">
   <div class="form-group col-md-4">
			<label class="control-label">Network Prefix</label><input
				name="oam_ipv6_prefix" class="form-control" type="text"
				ng-model="nic.ipv6.prefix"/>
	</div>
	<div class="form-group col-md-4">
			<label class="control-label">IP Address</label> <input
				name="oam_ipv6_address" class="form-control" type="text"
				ng-model="nic.ipv6.ipaddress"/>
	</div>
	<div class="form-group col-md-4">
			<label class="control-label">Network
				Gateway</label> <input name="oam_ipv6_gateway" class="form-control"
				type="text" ng-model="nic.ipv6.gateway"/>
	</div>
	</div>
    </accordion-group>
    </accordion>
</div>
<div class="modal-footer">
    <span class="pull-left" ng-show="alert==true"><font color="red">Please Config Birdge and All IPV4 Items!</font></span>
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
