<div class="wizard" id="5900_MRF" data-title="5900 MRF Wizard">
	<div id="csar_setting" class="wizard-card wizard-card-overlay" data-cardname="csar_setting">
		<h3 class="text-uppercase">CSAR Settings</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>
					friendly_name<input type="text" class="form-control" id="friendly_name" ng-model="csar_settings.friendly_name" placeholder="friendly_name"></input>
				</div>
				<br>
				<div>
					csar_operation
					<select id="csar_operation" ng-model="csar_settings.csar_operation"
						style="width: 200px;" class="chzn-select form-control">
						<option value="install">Install</option>
						<option value="grow">Grow</option>
						<option value="degrow">DeGrow</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div id="os_setting" class="wizard-card wizard-card-overlay" data-cardname="os_setting" ng-controller="OSetController">
		<h3 class="text-uppercase">OS Settings</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>
					os_username<input type="text" class="form-control" id="os_username" ng-model="os_settings.os_username" placeholder="os username"></input>
				</div>
				<div>
					os_password<input type="password" class="form-control" id="os_password" ng-model="os_settings.os_password" placeholder="os_password"></input>
				</div>
				<div>
					os_tenant_name<input type="text" class="form-control" id="os_tenant_name" ng-model="os_settings.os_tenant_name" placeholder="os_tenant_name"></input>
				</div>
				<div>
					os_region<input type="text" class="form-control" id="os_region" ng-model="os_settings.os_region" placeholder="os region"></input>
				</div>
				<div>
					os_auth_url<input type="text" class="form-control" id="os_auth_url" ng-model="os_settings.os_auth_url" placeholder="os_auth_url"></input>
				</div>
			</div>
		</div>
	</div>
	<div id="main_settings" class="wizard-card wizard-card-overlay" data-cardname="main_settings" ng-controller="SystemSetController">
		<h3 class="text-uppercase">Main Settings</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>stack_prefix</div>
				<div class="input-group">
					<input type="text" id="stack_prefix" class="form-control" placeholder="stack_prefix">
					<input type="hidden" id="stack_prefix_hidden" class="form-control" ng-model="system_settings.stack_prefix">
					<input type="checkbox" checked style="width: 15px;height: 15px;" ng-click="changePrefixStatus()">same with friendly name</input>
				</div>
				
				<div>
					key_name
					<select id="key_name" ng-model="system_settings.key_name"
						style="width: 200px;" class="chzn-select form-control">
						<option ng-repeat="keypair in keyPairs" value="{{keypair}}">{{keypair}}</option>
					</select>
				</div>
				<div>
					media_target<input type="text" class="form-control" id="media_target" ng-model="system_settings.media_target" placeholder="media_target"></input>
				</div>
				<div>
					template_version
					<select id="template_version" ng-model="system_settings.template_version"
						style="width: 200px;" class="chzn-select form-control" placeholder="template_version">
						<option ng-repeat="version in template_versions" value="{{version.value}}">{{version.label}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div id="nova_zone_settrings" class="wizard-card wizard-card-overlay" data-cardname="nova_zone_settrings" ng-controller="ZoneSetController">
		<h3 class="text-uppercase">Nova Zone</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>
					nova_zone_1
					<select id="nova_zone_1" ng-model="nova_zone_settings.nova_zone_1"
						style="width: 200px;" class="chzn-select form-control">
						<option ng-repeat="zone in zones" value="{{zone}}">{{zone}}</option>
					</select>
				</div>
				<div>
					nova_zone_2
					<select id="nova_zone_2" ng-model="nova_zone_settings.nova_zone_2"
						style="width: 200px;" class="chzn-select form-control">
						<option ng-repeat="zone in zones" value="{{zone}}">{{zone}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div id="flavor_settings" class="wizard-card wizard-card-overlay" data-cardname="flavor_settings" ng-controller="FlavorSetController">
		<h3 class="text-uppercase">Flavor Settings</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>
					mrfc_flavor
					<select id="mrfc_flavor" ng-model="flavor_settings.mrfc_flavor"
						style="width: 200px;" class="chzn-select form-control" ng-change="changeMrfcFlavor()">
						<option ng-repeat="flavor in flavors" value="{{flavor}}">{{flavor}}</option>
					</select>
				</div>
				<div>
					mrfp_flavor
					<select id="mrfp_flavor" ng-model="flavor_settings.mrfp_flavor"
						style="width: 200px;" class="chzn-select form-control" ng-change="changeMrfpFlavor()">
						<option ng-repeat="flavor in flavors" value="{{flavor}}">{{flavor}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div id="image_settrings" class="wizard-card wizard-card-overlay" data-cardname="image_settrings" ng-controller="ImageSetController">
		<h3 class="text-uppercase">Image Settings</h3>
		<div class="form-group">
			<div class="col-sm-8">
				<div>
					mrfc_image
					<select id="mrfc_image" ng-model="image_settings.mrfc_image"
						style="width: 200px;" class="chzn-select form-control">
						<option ng-repeat="image in images track by $index" value="{{image}}">{{image}}</option>
					</select>
				</div>
				<div>
					mrfp_image
					<select id="mrfp_image" ng-model="image_settings.mrfp_image"
						style="width: 200px;" class="chzn-select form-control">
						<option ng-repeat="image in images track by $index" value="{{image}}">{{image}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div id="network_settings" class="wizard-card wizard-card-overlay" data-cardname="network_settings" ng-controller="NetWorkSetController">
		<h3 class="text-uppercase">NetWork Settings</h3>
		<div class="form-group">
			<div class="col-sm-8" style="width:100%;  margin-left: auto;margin-right: auto;" align="left">
				<div style="width:50%; float:left; ">
					sig_network
					<select id="sig_network" name="sig_network" ng-model="network_settings.sig_network"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="signetwork as signetwork.name for signetwork in netWorks"
						ng-model="signetwork" ng-change="getSubNets(network_settings.sig_network,'sig')">
					</select>
					sig_sub_network
					<select id="sig_sub_network" name="sig_sub_network" ng-model="network_settings.sig_subnet"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="sigsubnet as sigsubnet.name for sigsubnet in sigSubNets"
						ng-model="sigsubnet">
					</select>
				</div>
				<div style="width:50%; float:left; ">
					oam_network
					<select id="oam_network" name="oam_network" ng-model="network_settings.oam_network"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="oamnetwork as oamnetwork.name for oamnetwork in netWorks"
						ng-model="oamnetwork" ng-change="getSubNets(network_settings.oam_network,'oam')">
					</select>
					oam_sub_network
					<select id="oam_sub_network" name="oam_sub_network" ng-model="network_settings.oam_subnet"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="oamsubnet as oamsubnet.name for oamsubnet in oamSubNets"
						ng-model="oamsubnet">
					</select>
				</div>
				<div style="width:50%; float:left; ">
					bearer_network
					<select id="bearer_network" name="bearer_network" ng-model="network_settings.bearer_network"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="bearernetwork as bearernetwork.name for bearernetwork in netWorks"
						ng-model="bearernetwork" ng-change="getSubNets(network_settings.bearer_network,'bearer')">
					</select>
					bearer_sub_network
					<select id="bearer_sub_network" name="bearer_sub_network" ng-model="network_settings.bearer_subnet"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="bearersubnet as bearersubnet.name for bearersubnet in bearerSubNets"
						ng-model="bearersubnet">
					</select>
				</div>
				
				
				<div style="width:50%; float:left; ">
					mngt_network
					<select id="mngt_network" name="mngt_network" ng-model="network_settings.mngt_network"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="mngtnetwork as mngtnetwork.name for mngtnetwork in netWorks"
						ng-model="mngtnetwork" ng-change="getSubNets(network_settings.mngt_network,'mngt')">
					</select>
					mngt_subnet
					<select id="mngt_subnet" name="mngt_subnet" ng-model="network_settings.mngt_subnet"
						style="width: 200px;" class="chzn-select form-control"
						ng-options="mngtsubnet as mngtsubnet.name for mngtsubnet in mngtSubNets"
						ng-model="mngtsubnet">
					</select>
				</div>
			</div>
		</div>
	</div>
</div>