<div ng-controller="CsarPkgMgtController">
	<div class="wizard" id="some-wizard" data-title="">
		<h1>Wizard Title</h1>
		<div ng-repeat-start="(key, tab) in tabdata track by $index"></div>
		<div id="{{typeSplit(key,1)}}" class="wizard-card" data-cardname="{{typeSplit(key,1)}}">
		<h3 class="text-uppercase">{{ typeSplit(key,1) }}</h3>
			<div class="form-group">
				<div class="col-sm-8" ng-repeat="(tab_key,tab_val) in tab">
					<div ng-if="tab_val.type === 'text'">
						{{tab_key}}<input type="text" class="form-control" id="{{tab_key}}" name="{{tab_key}}" placeholder="{{tab_key}}"></input>
					</div>
					<div ng-if="tab_val.type === 'password'">
						{{tab_key}}<input type="password" class="form-control" id="{{tab_key}}" name="{{tab_key}}" placeholder="{{tab_key}}"></input>
					</div>
					<div ng-if="tab_val.type === 'list'">
						{{tab_key}}
						<select id="{{tab_key}}" name="{{tab_key}}" 
								style="width: 200px;" class="chzn-select form-control">
						    <option ng-repeat="opval in opvalues">{{opval}}</option>
						</select>
					</div>
					<br />
				</div>
			</div>
		</div>
		<div ng-repeat-end></div>
	</div>
</div>
</div>

