<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" translate="DASHBOARD">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="menu" style="display: none" class="btn-group">
	    <a id="list" class="dropdown-toggle" data-toggle="dropdown">
	    	<span class="glyphicon glyphicon-list"> </span>
		</a>
		<ul id="operations" class="dropdown-menu">
			<li ng-click="goupgraqde()" class="listoperations">
				<a>
				  <span class="glyphicon glyphicon-arrow-up"></span> upgrade
				</a>
			</li>
			<li ng-click="open('delete')" class="listoperations">
				<a>
				  <span class="glyphicon glyphicon-remove"></span> delete
				</a>
			</li>
			<li ng-click="gobackup()" class="listoperations">
				<a>
				  <span class="glyphicon glyphicon-floppy-save"></span> backup
				</a>
			</li>
			<li ng-click="gorestore()" class="listoperations">
				<a>
				  <span class="glyphicon glyphicon-floppy-open"></span> restore
				</a>
			</li>
			<li ng-click="detail()" class="listoperations">
				<a>
				  <span class="glyphicon glyphicon-info-sign" ></span> details
				</a>
			</li>
		</ul>
	</div>
   	<canvas id="canvas" network-topo width="1000" height="2500" style="background-color:#F2F2F2"></canvas>
	</div>
    <!-- /.row -->
</div>
