<div class="panel-body" ng-init="tab = 0">
	<ul class="nav nav-tabs" ng-controller="ComputeTabController">
		<li ng-click="tab = 1" ng-class="{active:tab===1}"><a ui-sref-active="active" ui-sref="main.compute.instance" data-toggle="tab">Instances</a></li>
		<li ng-click="tab = 2" ng-class="{active:tab===2}"><a ui-sref-active="active" ui-sref="main.compute.keypair" data-toggle="tab">Key Pairs</a></li>
		<li ng-click="tab = 3" ng-class="{active:tab===3}"><a ui-sref-active="active" ui-sref="main.compute.securitygroup" data-toggle="tab">Security Groups</a></li>
		<li ng-click="tab = 4" ng-class="{active:tab===4}"><a ui-sref-active="active" ui-sref="main.compute.storage" data-toggle="tab">Storages </a></li>
		<li ng-click="tab = 5" ng-class="{active:tab===5}"><a ui-sref-active="active" ui-sref="main.compute.image" data-toggle="tab">Images </a></li>
		<li ng-click="tab = 6" ng-class="{active:tab===6}"><a ui-sref-active="active" ui-sref="main.compute.flavor" data-toggle="tab">Flavors </a></li>
	</ul>
	<div ui-view></div>
</div>