
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8" style="width: 870px">
		<div class="col-md-12" style="width: 870px">
			<div ng-controller="kvmctr" rc-wizard="kvmInstallWizard"
				class="modal-body">
				<section id="wizard">
					<div id="rootwizard">
							<ul class="nav rc-nav-wizard">
								<li class="active"><a class="active" href="#tab1"
									data-toggle="tab"> <span class="badge">1</span> <span>COM
											Type</span>
								</a></li>
								<li><a href="#tab2" data-toggle="tab"> <span
										class="badge">2</span> <span>Select Image</span>
								</a></li>
								<li><a href="#tab3" data-toggle="tab"> <span
										class="badge">3</span> <span>VNFc Configuration</span>
								</a></li>
								<li><a href="#tab4" data-toggle="tab"> <span
										class="badge">4</span> <span>Deploy</span>
								</a></li>
								<li><a href="#tab5" data-toggle="tab"> <span
										class="badge">5</span> <span>Post validation</span>
								</a></li>
							</ul>
							<div class="modal-body">
								<div class="tab-content">
											<form class="tab-pane active ng-pristine ng-valid" id="tab1" name="tab1" rc-submit="saveState()" rc-step="" novalidate="">

												<div class="form-group">
													<label class="control-label">COM Type</label> <select
														name="com_type" ng-model="installConfig.comType"
														class="form-control"
														ng-options="ct.Name as ct.Name for ct in comTypeStore"
														title="COM Type" validation="required">
													</select>
												</div>
												<div class="form-group">
													<label class="control-label">Timezone</label> <select
														name="time_zone" ng-model="installConfig.timezone"
														class="form-control"
														ng-options="t.Time as t.Time for t in timezoneStore"
														title="Timezone" validation="required">
													</select>
												</div>
												<div class="form-group">
													<label class="control-label">Active Host IP</label> <input
														name="active_host_ip" class="form-control" type="text"
														ng-model="installConfig.active_host_ip"
														title="Active Host IP" validation="ipv4|required" />
												</div>
												<div class="form-group">
													<label class="control-label">Prefix of VM Instance</label>
													<input name="deployment_prefix" class="form-control"
														type="text" ng-model="installConfig.deployment_prefix"
														title="Prefix of VM Instance" validation="required" />
												</div>
											</form>
											<form class="tab-pane" id="tab2" name="tab2" rc-submit rc-step>
												<fieldset
													ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
													<label class="control-label">OAM/CM image</label> <input
														name="oam_cm_image" class="form-control" type="text"
														ng-model="installConfig.oam_cm_image" title="OAM/CM image"
														validation="required" />
												</fieldset>
												<fieldset
													ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
													<label class="control-label">DB image</label> <input
														name="db_image" class="form-control" type="text"
														ng-model="installConfig.db_image" title="DB image"
														validation="required" />
												</fieldset>


												<label class="control-label">COM ISO </label> <input
														name="com_iso" class="form-control" type="text"
														ng-model="installConfig.com_iso" title="COM ISO"
														validation="required" />
												<label class="control-label">VM image directory</label> <input
														name="vm_image_dir" class="form-control" type="text"
														ng-model="installConfig.vm_img_dir" title="VM image directory"
														validation="required" />
												
											</form>
											<form class="tab-pane" id="tab3" name="tab3" rc-submit rc-step>
												<fieldset
													ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
													<legend>OAM VM</legend>
													<div class="form-group col-md-4">
														<label class="control-label">IP Address</label> <input
															name="ip_address" class="form-control" type="text"
															ng-model="installConfig.vm_config.oam.ip_address"
															title="IP Address" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Netmask</label> <input
															name="oam_netmask" class="form-control" type="text"
															ng-model="installConfig.vm_config.oam.netmask"
															title="netmask" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Gateway</label> <input
															name="oam_gateway" class="form-control" type="text"
															ng-model="installConfig.vm_config.oam.gateway"
															title="gateway" validation="gateway|required" />
													</div>
													<div class="form-group col-md-12">
														<label class="control-label">Flavor</label> <select
															name="oam_flavor"
															ng-model="installConfig.vm_config.oam.flavor"
															class="form-control"
															ng-options="fl.label for fl in flavorStore[installConfig.comType]['oam']"
															title="Flavor" validation="required">
														</select>
													</div>
												</fieldset>
												<fieldset
													ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
													<legend>DB VM</legend>
													<div class="form-group col-md-4">
														<label class="control-label">IP Address</label> <input
															name="ip_address" class="form-control" type="text"
															ng-model="installConfig.vm_config.db.ip_address"
															title="IP Address" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Netmask</label> <input
															name="db_netmask" class="form-control" type="text"
															ng-model="installConfig.vm_config.db.netmask"
															title="netmask" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Gateway</label> <input
															name="db_gateway" class="form-control" type="text"
															ng-model="installConfig.vm_config.db.gateway"
															title="gateway" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-12">
														<label class="control-label">Flavor</label> <select
															name="db_flavor"
															ng-model="installConfig.vm_config.db.flavor"
															class="form-control"
															ng-options="fl.label for fl in flavorStore[installConfig.comType]['db']"
															title="Flavor" validation="required">
														</select>
													</div>
												</fieldset>
												<fieldset
													ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='CM'">
													<legend>CM VM</legend>
													<div class="form-group col-md-4">
														<label class="control-label">IP Address</label> <input
															name="ip_address" class="form-control" type="text"
															ng-model="installConfig.vm_config.cm.ip_address"
															title="IP Address" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Netmask</label> <input
															name="cm_netmask" class="form-control" type="text"
															ng-model="installConfig.vm_config.cm.netmask"
															title="netmask" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-4">
														<label class="control-label">Gateway</label> <input
															name="cm_gateway" class="form-control" type="text"
															ng-model="installConfig.vm_config.cm.gateway"
															title="gateway" validation="ipv4|required" />
													</div>
													<div class="form-group col-md-12">
														<label class="control-label">Flavor</label> <select
															name="cm_flavor"
															ng-model="installConfig.vm_config.cm.flavor"
															class="form-control"
															ng-options="fl.label for fl in flavorStore[installConfig.comType]['cm']"
															title="Flavor" validation="required">
														</select>
													</div>
													<div class="form-group col-md-12">
														<label class="control-label">Support ARS</label> <select
															name="support_ars" class="form-control" type="text"
															ng-model="installConfig.vm_config.cm.support_ars"
															ng-options="sa for sa in support_ars" title="Support ARS"
															validation="required">
														</select>
													</div>
												</fieldset>
											</form>
											<form class="tab-pane" id="tab4" name="tab4" rc-submit rc-step>
												<div class="form-group">
													<label class="control-label">To be continued</label>
												</div>
											</form>
											<form class="tab-pane" id="tab5" name="tab5" rc-submit rc-step>
												<div ng-controller="kvmctr" class="form-group">
													<pre id="logviewer" style="display:none"></pre>
												</div>
											</form>
								</div>
							</div>
							<div class="modal-footer">
								<div class="form-group">
									<div class="pull-right">
										<a class="btn btn-default" 
											ng-click="rc.kvmInstallWizard.backward()"
											ng-show="rc.kvmInstallWizard.currentIndex > rc.kvmInstallWizard.firstIndex">Back</a>
										<a class="btn btn-primary" 
											ng-click="rc.kvmInstallWizard.forward()"
											ng-show="rc.kvmInstallWizard.currentIndex < rc.kvmInstallWizard.navigationLength">Continue</a>
										<a class="btn btn-primary" ng-click="completeWizard()"
											ng-show="rc.kvmInstallWizard.currentIndex == rc.kvmInstallWizard.navigationLength">Complete</a>
									</div>
								</div>
							</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
