<div class="modal-content col-md-8 col-md-offset-2" style="width: 800px">
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-8" style="width: 770px">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
        </button>
        <h1 class="modal-title">Install 1360COM on KVM</h1>
      </div>
      <div ng-controller="kvmctr" rc-wizard="sampleWizard" class="modal-body">
        <section id="wizard">
          <div id="rootwizard">
          <div id="myCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
            <ul class="bwizard-steps">
              <li><a href="#tab1" data-toggle="tab"><span class="label">1</span>COM Type</a></li>
              <li><a href="#tab2" data-toggle="tab"><span class="label">2</span>Image</a></li>
              <li><a href="#tab3" data-toggle="tab"><span class="label">3</span>VNF Components Config</a></li>
              <li><a href="#tab4" data-toggle="tab"><span class="label">4</span>Deploy</a></li>
              <li><a href="#tab5" data-toggle="tab"><span class="label">5</span>Post validation</a></li>
            </ul>
          <div class="modal-body">
          <div class="tab-content">
          <div class="carousel-inner">
            <div class="active item">
            <div class="tab-pane" id="tab1" name="tab1">
              <div class="form-group">
                <label class="control-label">COM Type</label>
                  <select name="com_type" ng-model="installConfig.comType" class="form-control" ng-options="ct.Name as ct.Name for ct in comTypeStore" title="COM Type">
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label">Timezone</label>
                  <select name="time_zone" ng-model="installConfig.timezone" class="form-control" ng-options="t.Time as t.Time for t in timezoneStore" title="Timezone">
                  </select>
              </div>
              <div class="form-group">
                  <label class="control-label">Active Host IP</label> 
                  <input name="active_host_ip" class="form-control" type="text" ng-model="installConfig.active_host_ip" title="Active Host IP"/>
              </div>
              <div class="form-group">
                  <label class="control-label">Prefix of VM Instance</label> 
                  <input name="deployment_prefix" class="form-control" type="text" ng-model="installConfig.deployment_prefix" title="Prefix of VM Instance"/>
              </div>
            </div>
            </div>
            <div class="item">
            <div class="tab-pane" id="tab2" name="tab2">
              <fieldset ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
                    <label class="control-label">OAM/CM image</label>
                    <input name="oam_cm_image" class="form-control" type="text" ng-model="installConfig.oam_cm_image" title="OAM/CM image"/>
                  </fieldset>
                  <fieldset ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
                    <label class="control-label">DB image</label>
                    <input name="db_image" class="form-control" type="text" ng-model="installConfig.db_image" title="DB image"/>
              </fieldset>
            </div>
            </div>
            <div class="item">
            <div class="tab-pane" id="tab3" name="tab3">
              <fieldset ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM' || installConfig.comType=='QoSAC'">
                  <legend>OAM VM</legend>
                  <div class="form-group">
                    <label class="control-label">IP Address</label> 
                    <input name="ip_address" class="form-control" type="text" ng-model="installConfig.vm_config.oam.ip_address" title="IP Address"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Flavor</label>
                    <select name="oam_flavor" ng-model="installConfig.vm_config.oam.flavor" class="form-control" ng-options="fl.label for fl in flavorStore[installConfig.comType]['oam']" title="Flavor">
                    </select>
                  </div>
                  <h4>Network:</h4>
                    <label class="control-label">netmask</label>
                    <input name="oam_netmask" class="form-control" type="text" ng-model="installConfig.vm_config.oam.netmask" title="netmask"/>
                    <label class="control-label">gateway</label>
                    <input name="oam_gateway" class="form-control" type="text" ng-model="installConfig.vm_config.oam.gateway" title="gateway"/>
              </fieldset>
              <fieldset ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='OAM' || installConfig.comType=='CM'">
                  <legend>DB VM</legend>
                  <div class="form-group">
                    <label class="control-label">IP Address</label> 
                    <input name="ip_address" class="form-control" type="text" ng-model="installConfig.vm_config.db.ip_address" title="IP Address"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Flavor</label>
                    <select name="db_flavor" ng-model="installConfig.vm_config.db.flavor" class="form-control" ng-options="fl.label for fl in flavorStore[installConfig.comType]['db']" title="Flavor">
                    </select>
                  </div>
                  <h4>Network:</h4>
                    <label class="control-label">netmask</label>
                    <input name="db_netmask" class="form-control" type="text" ng-model="installConfig.vm_config.db.netmask" title="netmask"/>
                    <label class="control-label">gateway</label>
                    <input name="db_gateway" class="form-control" type="text" ng-model="installConfig.vm_config.db.gateway" title="gateway"/>
              </fieldset>
              <fieldset ng-if="installConfig.comType=='FCAPS' || installConfig.comType=='CM'">
                  <legend>CM VM</legend>
                  <div class="form-group">
                    <label class="control-label">IP Address</label> 
                    <input name="ip_address" class="form-control" type="text" ng-model="installConfig.vm_config.cm.ip_address" title="IP Address"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Flavor</label>
                    <select name="cm_flavor" ng-model="installConfig.vm_config.cm.flavor" class="form-control" ng-options="fl.label for fl in flavorStore[installConfig.comType]['cm']" title="Flavor">
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Support ARS</label> 
                    <select name="support_ars" class="form-control" type="text" ng-model="installConfig.vm_config.cm.support_ars" ng-options="sa for sa in support_ars" title="Support ARS">
                    </select>
                  </div>
                  <h4>Network:</h4>
                    <label class="control-label">netmask</label>
                    <input name="cm_netmask" class="form-control" type="text" ng-model="installConfig.vm_config.cm.netmask" title="netmask"/>
                    <label class="control-label">gateway</label>
                    <input name="cm_gateway" class="form-control" type="text" ng-model="installConfig.vm_config.cm.gateway" title="gateway"/>
              </fieldset>
            </div>
            </div>
            <div class="item">
            <div class="tab-pane" id="tab4">
              <div class="form-group">
              <label class="control-label">To be continued</label>
              </div>
            </div>
            </div>
            <div class="item">
            <div class="tab-pane" id="tab5">
              <div ng-controller="kvmctr" class="form-group">
              <label class="control-label">To be continued</label>
              </div>
            </div>
            </div>
          </div>
          </div>
          </div>
          <div class="modal-footer">
            <div class="form-group">
              <div class="pull-right">
                <a class="btn btn-default" data-target="#myCarousel" data-slide-to="{{count}}" ng-click="rc.sampleWizard.backward();count=count-1" 
                   ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a>
                <a class="btn btn-primary" data-target="#myCarousel" data-slide-to="{{count}}" ng-click="rc.sampleWizard.forward();count=count+1" 
                   ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Continue</a>
                <a class="btn btn-primary" ng-click="completeWizard()" 
                   ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Complete</a>
              </div>
              <br>
            </div>
          </div>
          </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
</div>