
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="width: 870px">
			<div ng-controller="upgradectr" rc-wizard="kvmupgradeWizard"
				class="modal-body">
				<section id="wizard">
					<div id="rootwizard">
							<ul class="nav rc-nav-wizard">
								<li class="active"><a class="active" href="#tab1"
									data-toggle="tab"> <span class="badge">1</span> <span>COM
											Info</span>
								</a></li>
								<li><a href="#tab2" data-toggle="tab"> <span
										class="badge">2</span> <span>Select Image</span>
								</a></li>
								<li><a href="#tab3" data-toggle="tab"> <span
										class="badge">3</span> <span>Deploy</span>
								</a></li>
							</ul>
							<div class="modal-body">
								<div class="tab-content">
											<form   class="tab-pane active ng-pristine ng-valid" id="tab1" name="tab1" rc-submit="saveState()" rc-step >
												<div class="form-group">
													<label class="control-label">COM Type</label> 
													<select name="com_type" ng-model="instance" class="form-control" ng-options=" inst.name for inst in instances" title="COM Instance" validation="required"> </select>
												</div>
											</form>
											<form class="tab-pane" id="tab2" name="tab2" rc-submit rc-step>
												<fieldset ng-if="instance.comType=='FCAPS' || instance.comType=='OAM' || instance.comType=='CM' || instance.comType=='QoSAC'">
													<label class="control-label">OAM/CM image</label>
													 <input name="oam_cm_image" class="form-control" type="text" ng-model="instance.oam_cm_image" title="OAM/CM image" validation="required" />
												</fieldset>
												<fieldset ng-if="instance.comType=='FCAPS' || instance.comType=='OAM' || instance.comType=='CM'">
													<label class="control-label">DB image</label>
													<input name="db_image" class="form-control" type="text" ng-model="db_image" title="DB image" validation="required" />
												</fieldset>
												<label class="control-label">COM ISO </label> 
												<input name="com_iso" class="form-control" type="text" ng-model="com_iso" title="COM ISO" validation="required" />
												<label class="control-label">VM image directory</label>
												<input name="vm_image_dir" class="form-control" type="text" ng-model="vm_img_dir" title="VM image directory" validation="required" />
											</form>
											<form class="tab-pane" id="tab3" name="tab3" rc-submit rc-step>
												<div ng-controller="kvmctr" class="form-group">
													<pre id="logviewer" style="display:none"></pre>
												</div>
											</form>
								</div>
							</div>
							<div class="modal-footer">
								<div class="form-group">
									<div class="pull-right">
										<a class="btn btn-default" 
											ng-click="rc.kvmupgradeWizard.backward()"
											ng-show="rc.kvmupgradeWizard.currentIndex > rc.kvmupgradeWizard.firstIndex">Back</a>
										<a class="btn btn-primary" 
											ng-click="rc.kvmupgradeWizard.forward()"
											ng-show="rc.kvmupgradeWizard.currentIndex < rc.kvmupgradeWizard.navigationLength">Continue</a>
										<a class="btn btn-primary" ng-click="completeWizard()"
											ng-show="rc.kvmupgradeWizard.currentIndex == rc.kvmupgradeWizard.navigationLength">Complete</a>
									</div>
								</div>
							</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
