<div class="container-fluid" ng-controller="ovmarsctr">
	<div class="row">
		<div class="col-md-10">
			<div rc-wizard="ovmInstallWizard" class="modal-body">
				<section id="wizard" import-comconf>
					<div id="rootwizard">
						<ul class="nav rc-nav-wizard" style="margin-left: 50px">
							<li><a href="#tab1" data-toggle="tab"> <span
									class="badge">1</span> <span>COM
										Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</a></li>
							<li><a href="#tab2" data-toggle="tab"> <span
									class="badge">2</span> <span>Input License&nbsp;</span>
							</a></li>
							<li><a href="#tab3" data-toggle="tab"> <span
									class="badge">3</span> <span>Deploy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</a></li>
						</ul>
						<div class="modal-body">
							<div class="tab-content">
								<form class="tab-pane active ng-pristine ng-valid" id="tab1"
									name="tab1" rc-step="" novalidate="">
									<h4>Note:The installation package must be in /opt/PlexView/space/ARS/boexir3linux.</h4>
									<legend>Common Variables</legend>
                                    <div class="form-group">
                                        <label class="control-label">COM Type</label> <select
                                            name="comType" ng-model="installConfig.comType" ng-init="installConfig.comType='ARS'"
                                            class="form-control" title="COM Type">
                                            <option value="ARS">ARS</option>
                                        </select>
                                    </div>
									<label class="control-label">COM Instance</label> <select
										ng-change="reloadinstallconfig()" name="com_instance"
										ng-model="com_instance" class="form-control"
										ng-options="inst.deployment_prefix for inst in kvmcomInstance"
										title="COM Instance">
										<option value="" default>--Please Select--</option>
									</select>
									<div class="form-group">
										<label class="control-label">Host IP</label> <input
											name="host_ip" ng-model="installConfig.active_host_ip"
											class="form-control" type="text"
											title="Host IP" validation="required" />
									</div>
                                    <div class="form-group">
                                            <label class="control-label">DB VM IPv4 Address</label> <input
                                                name="netmask" class="form-control" type="text"
                                                ng-model="installConfig.vm_config.db.ip_address"
                                                placeholder="Please Insert IPv4 address" title="IPV4 address"
                                                validation="ipv4|required" />
                                     </div>
								</form>
								<form class="tab-pane" id="tab2" name="tab2" rc-submit="genExport()" rc-step>
									<div class="form-group">
                                        <label class="control-label">License_key</label> <input
                                            name="license" class="form-control" type="text"
                                            ng-model="installConfig.license_key"
                                            placeholder="Please Input License"
                                            title="License" validation="required" />
                                    </div>
								</form>
								<form class="tab-pane" id="tab3" name="tab3" rc-submit rc-step>
									<div class="panel panel-default">
										<div class="panel-heading">
											<label class="control-label">Deployment Summary</label>
										</div>
										<div class="panel-body">
											<div class="dataTable_wrapper">
												<table
													class="table table-striped table-bordered table-hover"
													id="dataTables-example">
													<tbody>
														<tr align="center">
															<td colspan="2">COM Type</td>
															<td>{{installConfig.comType}}</td>
														</tr>
														<tr align="center">
															<td colspan="2">Host IP</td>
															<td>{{installConfig.active_host_ip}}</td>
														</tr>
														<tr align="center">
															<td colspan="2">IP address of DB VM</td>
															<td>{{installConfig.vm_config.db.ip_address}}</td>
														</tr>
                                                        <tr align="center">
                                                            <td colspan="2">License</td>
                                                            <td>{{installConfig.license_key}}</td>
                                                        </tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</form>
							</div>

							<div class="modal-footer">
								<div class="form-group">
									<div id="download" class="pull-left"
										ng-show="rc.ovmInstallWizard.currentIndex == rc.ovmInstallWizard.navigationLength">
										<div export-comconf ng-model="export"></div>
									</div>
									<div class="pull-right">
										<a class="btn btn-default"
											ng-click="rc.ovmInstallWizard.backward()"
											ng-show="rc.ovmInstallWizard.currentIndex > rc.ovmInstallWizard.firstIndex">Back</a>
										<a class="btn btn-primary"
											ng-click="rc.ovmInstallWizard.forward()"
											ng-show="rc.ovmInstallWizard.currentIndex < rc.ovmInstallWizard.navigationLength">Continue</a>
										<a class="btn btn-primary" ng-click="deploy()"
											ng-show="rc.ovmInstallWizard.currentIndex == rc.ovmInstallWizard.navigationLength">Deploy</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>